[2011-05-31 08:12] etorreborre opened #3 "1.9 for Scala 2.9.0-1"
Hi Ricky,

Could you please publish an official version for Scala 2.9.0-1?

Thanks.

[2011-05-31 08:45] #3 closed, assigned to rickynils

[2011-05-31 09:16] rickynils opened #4 "Create Ant task for ScalaCheck"
Transferred from http://code.google.com/p/scalacheck/issues/detail?id=23

[2011-05-31 09:18] rickynils opened #5 "Add timeout feature to tests"
Transferred from http://code.google.com/p/scalacheck/issues/detail?id=82

Some tests my result in an infinite loop, and this may not be predictable in advance. It would be great if the runner supported an option that kills any test that has run longer than X seconds.

[2011-05-31 09:18] rickynils opened #6 "Add max testing duration"
Transferred from http://code.google.com/p/scalacheck/issues/detail?id=83
#82 requests a timeout for any particular test. It would also be nice if Test.Params had an option for max duration of the entire testing run. For example, instead of specifying minSuccessfulTests and maxDiscardedTests, I'd like to just specify that testing go for 8 hours. There are any number of ways this feature could inter

[2011-05-31 09:21] rickynils opened #7 "Testing should stop once Gen is exhausted"
Transferred from http://code.google.com/p/scalacheck/issues/detail?id=84

[code]

It would be really nice if ScalaCheck would stop after 5 tests since there are only 5 possible tests. Maybe Test.Params could have an option that lets the user guarantee referential transparency, in which case the runner would only go to the size of the Gen space.

[2011-05-31 09:22] rickynils opened #8 "Add "generator invariants""
Transferred from http://code.google.com/p/scalacheck/issues/detail?id=85

Make it possible to attach preconditions/invariants to generators so you don't have to add a precondition to the property also.

See http://groups.google.com/group/scalacheck/msg/b563f24c81b22291

[2011-06-24 06:08] ghost opened #9 "Wrong path in command file for sbt"
In sbt.cmd:
    java %SBT_OPTS% %PROXY_OPTS% -Xmx1024M -jar "%SCRIPT_DIR%sbt-launch-0.7.4.jar" %*
should be
    java %SBT_OPTS% %PROXY_OPTS% -Xmx1024M -jar "%SCRIPT_DIR%/tools/sbt-launch-0.7.4.jar" %*

[2011-07-09 19:53] #9 closed, assigned to rickynils

[2011-07-10 09:47] rickynils opened #11 "Change Test.Params.maxDiscardedTests to maxDiscardRatio"
Instead of specifying an absolute number of the maximum discarded tests (the generator fails to generate a value, or the precondition is not fulfilled) allowed per property, it would be more convenient to define the maximum allowed ratio between discarded and passed property evaluations. This would also interact better with issue #6.

[2011-07-15 22:15] rickynils opened #12 "Move User Guide from Google Code to GitHub"

[2011-07-16 17:37] rickynils opened #13 "Add properties for untested methods in Prop"
There's a lot of untested things in `org.scalacheck.Prop`. Some examples are `Prop.sizedProp`, `Prop.someFailing`, `Prop.noneFailing`, but there's many more. There should be properties in `test/scala/org/scalacheck/PropSpecification.scala` for essentially every public method in `org.scalacheck.Prop`.

[2011-07-16 22:03] rickynils opened #14 "Update to SBT 0.10"

[2011-07-16 22:38] #14 closed, assigned to rickynils

[2011-07-30 02:47] SethTisue opened #15 "Arbitrary[Int] doesn't respect maxSize (as User Guide implies)"
The User Guide says:

[code]

But that isn't the real definition, the actual definition in the source code is:

[code]

And the same for other types like Long and so on.

So either the User Guide should be changed, or the code should be changed. What do you think? Is there some reason not to change the code? Somehow I have the feeling the way the code is what it is intentionally...?

[2011-11-05 12:21] sol opened #18 "Shrinking for choose and chooseNum considers invalid values"
For a property like

[code]

Shrinking will settle on `-1` instead of `10`, and it even considers several out-of-range values during shrinking.  From my gut feeling I'd think this is a bug.

[2011-11-05 22:19] #18 closed, assigned to nobody

[2011-11-07 18:07] ghost opened #19 "<deleted>"

[2011-11-30 20:19] seanparsons opened #20 "Prop.within method can stack overflow."
I've got a fix for this one, the attempt method at:
https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Prop.scala#L748
just needs "@tailrec private" added to stack bust.

[2011-12-12 13:07] #20 closed, assigned to nobody

[2011-12-12 13:09] #19 closed, assigned to nobody

[2012-03-26 14:02] soc opened #22 "Move to Sonatype repo?"
It seems like ScalaCheck is not availale in the Sonatype repo.

Would it possible to have a SBT repo string somewhere in the documentation, not only the Maven XML?

[2012-04-02 12:24] karlroberts opened #23 "arbitrary[BigDecimal] causes ArithmeticException: Overflow"
Hi,
I had some trouble with sporadic failures while generating Arbitrary BigDecimals. Here is  some code that shows the problem.
Using version "org.scala-tools.testing" %% "scalacheck" % "1.9"

import org.scalacheck.{Gen, Arbitrary}
import Arbitrary.arbitrary

def testBigDecimalGen = { val x = genPremium ; (0 to 1000) foreach ( x => println(x + " => " + arbitrary[BigDecimal].sample)) }

at some po

[2012-04-07 09:02] #11 closed, assigned to rickynils

[2012-04-10 07:26] #22 closed, assigned to rickynils

[2012-04-10 15:22] #15 closed, assigned to rickynils

[2012-04-12 22:50] #12 closed, assigned to rickynils

[2012-04-15 00:29] etorreborre opened #24 "ScalaCheck for Scala 2.9.2"
I would like to publish a specs2 version for Scala 2.9.2, can you please publish a ScalaCheck version for the same?

Thanks.

[2012-04-15 05:28] #24 closed, assigned to nobody

[2012-05-13 20:40] #13 closed, assigned to rickynils

[2012-05-14 22:24] seanparsons opened #26 "1.10-SNAPSHOT incompatible with specs2 1.9."
I'm not entirely sure what has changed, but it would appear whatever it is that has changed has caused it to become incompatible with the current specs2 integration:
[info] JSONIntSpecification
[info]
[info] intValue
[error] ! Fragment evaluation error
[error]     ThrowableException: org.scalacheck.Test$Params.<init>(IIIILjava/util/Random;ILorg/scalacheck/Test$TestCallback;)V (FutureTask.java:166)

[2012-05-21 14:43] twittner opened #27 "Thread context class-loader problem"
AFAICS scalacheck creates workers to check properties asynchronously, i.e. they are executed in `scala.actors.Future`s. These `future`-blocks are submitted to the single process-wide `scala.actors.DaemonScheduler` instance. This means that threads are potentially re-used between successive `future` calls.

In my setup this leads to problems where the wrong class-loader is effective during property

[2012-06-09 21:59] #23 closed, assigned to rickynils

[2012-06-09 22:11] #27 closed, assigned to rickynils

[2012-07-06 14:12] #26 closed, assigned to rickynils

[2012-07-13 17:52] sriram-srinivasan opened #29 "java.lang.AbstractMethodError propSqrt.check [scala 2.10.0-m3]"
ScalaCheck 1.10.0
Scala version: 2.10.0-M3,

Perhaps this has to do with using a bleeding edge version of Scala,  but there's a problem likely with "==>".

First the working version:

[code]

Adding an implication to constrain n. This fails.

[code]

This has to do with the implication, not with calling sqrt, since the following equivalent statement works fine.

[code]

[2012-07-23 20:38] danielkroeni opened #30 "User-Guide contains strange hex number"
The section **Test Execution** contains some seemingly random hex numbers:

"The check method looks like this: 43bbc1d6b666fa6482659729769855fd"

I hope it is not a joke I don't understand.

[2012-07-24 07:34] #30 closed, assigned to rickynils

[2012-08-01 19:15] nuttycom opened #33 "Link to public ScalaDoc?"
Can you please include a link to the ScalaDoc in the README? I can't find current documentation anywhere.

[2012-08-14 16:16] seanparsons opened #34 "Resolvers as specified in the readme can potentially trip up the unwary."
This:
resolvers ++= Seq(
  "snapshots" at "http://oss.sonatype.org/content/repositories/snapshots",
  "releases"  at "http://oss.sonatype.org/content/repositories/releases"
)
should really be:
resolvers ++= Seq(
  "Sonatype Snapshots" at "http://oss.sonatype.org/content/repositories/snapshots",
  "Sonatype Releases"  at "http://oss.sonatype.org/content/repositories/releases"
)

As the default exam

[2012-08-18 07:55] #34 closed, assigned to rickynils

[2012-08-21 09:14] ijuma opened #35 "Build for Scala 2.10.0 M7"
Hi,

Is there any chance we can get a scalacheck build for 2.10.0 M7? See the following for more details:

https://groups.google.com/d/topic/scala-internals/-jF_L3y5J5s/discussion

Best,
Ismael

[2012-08-22 10:01] #35 closed, assigned to nobody

[2012-09-08 22:15] taylorleese opened #36 "Exception raised on argument generation. > Exception: java.lang.NullPointerException: null (Gen.scala:291)"
I'm currently seeing this exception that is being thrown from Gen.scala. I haven't been able to find a base case for it yet. Any ideas what could be causing this? I'm using scalacheck 1.10.0.

[code]

[2012-10-15 12:02] hejfelix opened #37 "Mpi-calls deadlock inside "Property"s"
Simple code below deadlocks using MPJ-Express. I have used MPJ-express extensively during the last 3 months, and this code has never failed, however, it leads to deadlock inside the property. It runs fine without the property.

Basically, 4 processes are run with this scala-code.

  object CollectionCheck {

[code]

  }

The output from this code is as follows:

MPJ Express (0.38) is started in th

[2012-11-05 15:21] ijuma opened #38 "Build for Scala 2.10.0 RC2"
Scala 2.10.0 RC2 is staged so it would be great to have a build for it:

https://groups.google.com/d/topic/scala-internals/R9JzcvPG7h8/discussion

Thanks!

[2012-11-05 17:17] #38 closed, assigned to rickynils

[2012-11-16 11:54] hejfelix opened #40 "java.lang.NoClassDefFoundError: scala/Right when using Scala 2.10 rc2"
Hello,

After switching to Scala 2.10 (due to need for TypeTags) I get the following error:

java.lang.NoClassDefFoundError: scala/Right
    at org.scalacheck.Prop$.forAllShrink(Prop.scala:542)....

Can I make this work with 2.10?

[2012-11-20 00:13] #37 closed, assigned to rickynils

[2012-11-20 00:17] #40 closed, assigned to nobody

[2012-11-22 11:21] ijuma opened #41 "Build for Scala 2.10.0-RC3"
Scala 2.10.0-RC3 is staged:

https://groups.google.com/d/topic/scala-internals/B-bp7tgOFUE/discussion

Thanks!

[2012-11-22 13:00] #41 closed, assigned to nobody

[2012-11-22 17:21] #33 closed, assigned to rickynils

[2013-01-10 23:14] adamklein opened #44 "Delete me"
Oops, this isn't scalacheck related. Sorry...

[2013-01-10 23:24] #44 closed, assigned to nobody

[2013-03-13 18:23] LannyRipple opened #48 "scalacheck_2.9.3"
Please build and release scalacheck for 2.9.3

[2013-03-19 12:57] #48 closed, assigned to nobody

[2013-04-04 07:59] #36 closed, assigned to nobody

[2013-04-04 08:03] #29 closed, assigned to rickynils

[2013-06-04 22:32] ieure opened #50 "Properties that check if exceptions are thrown don't compile with Scala 2.9.1"
Scala 2.9.x doesn't seem to be able to resolve the `throws` method correctly. Given this test, which uses the exact same code as ScalaCheck 1.10.1's `PropSpecification`:

[code]

… The project fails to compile, with:

[code]

The older (deprecated) style still works, even though it seems to use the new multi-arg-list version internally:

[code]

[2013-06-06 19:09] ieure opened #51 "Allow `Gen.Params` to be subclassed"
For some of the more involved types I'm generating, it would be very nice to subclass `Gen.Params` to control the generator at a fine-grained level. For example, I need to test a case class representing the creation of a bank account, and I need to generate both valid routing/account numbers and invalid / unset ones to ensure that bad requests are detected and handled. Using `suchThat` with more t

[2013-09-13 17:51] paddymahoney opened #54 "Container gen composition"
This is more of a request for documentation or help rather than a feature or bug.

I have a set of generators that generate akka.util.ByteStrings. Some of the generators generate containersOfN or containersOf1, some generate data of fixed lengths. Some larger generators are composed of both the containersOf and fixed length generators, and then flattened:
val bigContainer = for {
  len3byteString

[2013-09-13 18:05] rickynils opened #55 "Shrinking two generators sometimes presents strange ORIGINAL values."
[code]

[2013-09-20 13:33] #8 closed, assigned to rickynils

[2013-09-22 06:57] #50 closed, assigned to nobody

[2013-09-22 07:00] #51 closed, assigned to nobody

[2013-09-22 07:04] #4 closed, assigned to rickynils

[2013-09-27 13:37] NightRa opened #56 "NoSuchMethodError: scala.runtime.IntRef.zero()"
When running the example from the readme,either on ScalaCheck 1.10.1 or 1.10.11, with Scala 2.10.2, Java 7.40, there is a crash with the following message:

[code]

[2013-10-04 00:28] jedws opened #57 "support all standard Collections using CanBuildFrom"
the following is a Builder impl that supports all standard collection types using the CanBuildFrom machinery:

[code]

I'll try and add a PR

[2013-10-04 00:52] jedws opened #58 "ambiguous Buildable[T, Set] error"
there are two Buildable[T, Set] instances in the Buildable companion:

[code]

and
    implicit def buildableSet[T] = new Buildable[T,Set] {
      def builder = Set.newBuilder
    }

leading to ambiguous implicits error when trying to summon one

[2013-10-09 14:16] etorreborre opened #60 "Replace implicit conversions with typeclasses"
There are quite a few places in ScalaCheck where implicit conversions are expected:

[code]

The trouble with this formulation is that, when using the `p` conversion, there is no way to catch exceptions if the parameter of type `P` throws any. My proposal is to use a typeclass instead:

[code]

The same thing can be done with the `Pretty` conversion.

Alternatively you could require an implicit co

[2013-10-12 13:21] #57 closed, assigned to nobody

[2013-10-12 13:22] #58 closed, assigned to nobody

[2013-10-12 17:02] #54 closed, assigned to nobody

[2013-10-14 00:16] #60 closed, assigned to rickynils

[2013-10-14 23:15] #55 closed, assigned to rickynils

[2013-10-30 21:43] #56 closed, assigned to nobody

[2013-11-01 11:29] rickynils opened #67 "Remove mutable random number generator in Gen"
`Gen.Parameter` includes `rng` which is an instance of `java.util.Random`. This instance is used in `Gen.choose`, by calls to `rng.nextLong` and `rng.nextDouble`. These calls mutate the rng instance, by updating its seed. It would be nice to switch over to an immutable rng, since that would allow control over the seed (which would enable repeatable tests in ScalaCheck). So, instead of `java.util.R

[2013-11-01 11:36] rickynils opened #68 "Move test callbacks out of Test.check"
Today, the test runner is a bit mixed up with the property evaluator. It should be possible to make a clean `Test.check` method that just takes a property and returns a test result. The test runner could be implemented separately as a special property that wraps another property and intercepts each evaluation. This would reduce the complexity in `Test.check` which would help when implementing new

[2013-11-03 17:43] estaub opened #69 "Show required import in User Guide"
In the section "Labeling Properties", show what feature-specific imports are necessary and preferred - probably just

[code]

The compiler error that you get otherwise

[code]

is hard to diagnose.

[2013-11-05 01:27] #69 closed, assigned to nobody

[2013-11-05 16:39] evantill opened #70 "bad symbolic reference. A signature in ScalaCheckParameters.class refers to term Pretty"
In scalacheck 1.11.0 I have the following error (seems like a LinkageError in Java)

[code]

my environment is

[code]

[2013-11-05 18:01] #70 closed, assigned to nobody

[2013-11-06 06:56] etorreborre opened #71 "Add zip operators on generators"
Something like this for a tuples up to 22 members:

[code]

So that we can write:

[code]

[2013-11-07 21:47] CruncherBigData opened #72 "Gen behavior"
As I am going through the tutorial of ScalaCheck , I decided to modify one of the examples , from

[code]

to

[code]

And then I ran the program in eclipse , got

[code]

and then ran it again and got

[code]

So my questions are:
- Does the "-1" means that the generator generated -1 event though it has a range of (0,100)
- Why is the result not consistent ? first pass then no pass
  Any idea?

[2013-11-07 23:41] etorreborre opened #73 "Add an applicative notation for generators"
The `for/yield` notation can be used with generators because they are monads, but I sometimes wish a more concise notation when just applicatives are needed (because generators are independent):

Contrast:

[code]

with (using the scalaz syntax)

[code]

[2013-11-10 11:32] #73 closed, assigned to nobody

[2013-11-11 15:40] mgk opened #74 "conditional property doc example"
After going through the very nice ScalaCheck tutorial and using ScalaCheck successfully for a Coursera homework assignment I am puzzled about the conditional property example in the tutorial. The example works:

[code]

What I thought was a similar example does not work:

[code]

Now I understand that random sampling of the 1e9 Int space is has a very small chance of choosing in the the range (1 t

[2013-11-15 01:28] j3h opened #75 "Arbitrary instance for Option[A] does not have good coverage."
Since the Arbitrary instance for Option[A] will only generate None when size is zero, it's easy to write passing tests that should fail:

[code]

[2013-11-15 03:54] #75 closed, assigned to nobody

[2013-11-20 19:50] adriaanm opened #79 "ClassCastException with containers (arrays?) of primitive types"
I believe d2e6f07cd43c1a04ec246c8fb8c8f5e90306918c caused a regression, reproduced by the test in https://github.com/adriaanm/scalacheck/commit/c66900204aec29eb414df564b9f16dc5fa865235 of https://github.com/adriaanm/scalacheck/pull/2

The cast in https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Gen.scala#L62 does break stuff once in a while.

[code]

Repro:

[code]

[2013-11-20 23:32] #72 closed, assigned to nobody

[2013-11-21 01:46] #79 closed, assigned to nobody

[2013-11-24 22:20] japgolly opened #81 "Custom Generators seem impossible in 1.11.1"
Hi! In 1.10.1 I would merrily create custom generators for complex scenarios using `Gen.apply(p => Option[T])`.

Now in 1.11.1 it seems `Gen.apply` is gone, replaced internally by package-private `Gen.gen`. The `Gen` trait is public but its new `doApply` method requires I return a  `Gen.R` which I cannot because that trait is package-private.

It no longer seems possible for me to create my own, c

[2013-11-27 07:04] #81 closed, assigned to nobody

[2014-01-01 08:41] xuwei-k opened #82 "BigDecimal Arbitrary"
Sometimes [BigDecimal Arbitrary](https://github.com/rickynils/scalacheck/blob/1.11.1/src/main/scala/org/scalacheck/Arbitrary.scala#L175-L192) generate too huge(or tiny) objects.
It cause `OutOfMemoryError` or `NegativeArraySizeException` etc.

[code]

[code]

[2014-01-04 11:29] #68 closed, assigned to rickynils

[2014-01-05 01:46] #71 closed, assigned to nobody

[2014-01-20 04:57] etorreborre opened #84 "1.11.2 version for Scala 2.11.0-M7"
Can we please have a version for Scala 2.11.0-M7? This would allow me to push a [specs2 version](https://travis-ci.org/etorreborre/specs2/jobs/17254066) for it too.

[2014-01-26 01:00] marklemay opened #86 "push newer versions to Maven Central"
Maven central is 4 or 5 versions behind.

http://mvnrepository.com/artifact/org.scala-tools.testing/scalacheck

Thanks

[2014-02-05 09:38] awekuit opened #87 "When `for-expression` is used, it makes an error unintelligibly."
I think that the difference among these behavior is unnatural.

  `intGen1` raise `dummy error`.
  `intGen2` raise `/ by zero`.
  `intGen3` raise `dummy error`.

[code]

`intGen2` often makes an error unintelligibly.

Thanks

[2014-02-08 01:32] devmage opened #88 "arbThrowable is really an Exception"
https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Arbitrary.scala#L146

While `Exception` is technically a `Throwable` and all, this isn't returning precisely an arbitrary `Throwable`. This throws off tests for logic that may have different actions depending on whether a `Throwable` is actually an `Exception` vs an `Error`.

For example, in an Akka actor hierarchy,

[2014-02-20 07:48] alexeyr opened #89 "mapOfN will not work well if there is a high probability of duplicate keys"
`mapOfN` generates exactly `n` key-value pairs, constructs a map from them, and checks that the size is `n`. This will fail and be discarded if there are any duplicate keys. Given that, e.g. numeric generators produce specific values with high probability, this is quite likely to happen.

[2014-02-23 20:54] rickynils opened #90 "Make it possible to name Prop"
Make it possible to set a name of an individual `Prop` instance. The name should be stored in the `Result` instance. This way, the implementation of `Properties` could be simplified (turned into a `Seq[Prop]`, with no special handling of property names), and `Test.checkProperties` could be turned into a simple `map` call.

[2014-02-23 20:57] rickynils opened #91 "Turn Properties into Seq[Prop]"
Turn `Properties` into a subclass of `Seq[Prop]` (or similar), and not a subclass of `Prop`. This makes for less special handling of `Properties` instances, and will make it possible to support both objects and classes of both `Prop` and `Properties` in `ScalaCheckFramework`.

Also see #90

[2014-02-23 20:58] #86 closed, assigned to nobody

[2014-02-23 21:00] #84 closed, assigned to nobody

[2014-02-23 21:20] rickynils opened #92 "ScalaCheckFramework doesn't pick up Prop instances"
See https://twitter.com/runarorama/statuses/437019957717897216

[2014-02-23 21:23] #92 closed, assigned to nobody

[2014-03-01 00:51] S11001001 opened #94 "1.11.3 version for Scala 2.11.0-RC1"
1f648d52c93c1846b9bfdbb30ac456aa2baa58d4 builds cleanly with

[code]

[2014-03-03 10:22] #94 closed, assigned to nobody

[2014-03-06 11:23] dansanduleac opened #96 "Framework yields 2 identical fingerprints in `.tests()`"
This has the effect that sbt (in `sbt.FrameworkWrapper`) will run the whole test suite twice, once per fingerprint.
Shouldn't this return a single `PropsFingerprint` ?

[code]

[2014-03-12 15:42] pchiusano opened #97 "onTestResult callback not invoked reliably"
Is this a bug?

[code]

[2014-04-16 22:33] #97 closed, assigned to nobody

[2014-04-16 22:34] #96 closed, assigned to nobody

[2014-04-16 22:41] #88 closed, assigned to nobody

[2014-04-16 22:52] #87 closed, assigned to nobody

[2014-04-22 12:29] nrinaudo opened #98 "suchThat does not chain (anymore)"
The behaviour of `suchThat` appears to have changed in recent versions (somewhere between 1.10.1 and 1.11.3).

Chaining multiple calls to `suchThat` used to apply all filters, whereas recent versions will only take the last call into account.

For example, in the following code:
- all properties are validated under 1.10.1
- `combined` and `empty only` fail under 1.11.3:

[code]

[2014-04-22 20:33] swenson opened #99 "String generation in scalacheck 1.10.1 throws an exception on Scala 2.11"
When I run the standard String operations tests in Scala 2.11 (with scalacheck 1.10.1), I get exceptions thrown when trying to generate the String arguments:

[code]

Source is at https://github.com/SimpleFinance/simplespec/blob/master/src/test/scala/com/simple/simplespec/specs/StringPropertySpec.scala, and unchanged from 2.9 and 2.10 (which both work fine).

[2014-05-07 18:46] #99 closed, assigned to nobody

[2014-05-08 20:25] #98 closed, assigned to rickynils

[2014-05-08 20:27] #82 closed, assigned to nobody

[2014-05-21 03:38] cheeseng opened #102 "Suggest to make FreqMap Serializable"
Hi all,

I would like to suggest to make FreqMap (https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/util/FreqMap.scala)  serializable, driven by an use case filed in ScalaTest:

https://github.com/scalatest/scalatest/issues/302

[2014-06-25 01:20] jaceklaskowski opened #104 "Support verbosity under sbt for TestFrameworks.ScalaCheck"
Currently ScalaCheckFramework always assumes `verbosity` to be `0`:

[code]

It should accept changing the option under sbt as follows:

[code]

[2014-06-25 07:28] #104 closed, assigned to nobody

[2014-06-26 17:26] retronym opened #106 "Prop.within Specification occasionally fails on a loaded machine"
We saw this during Scala Pull Request validation which builds Scalacheck as part of the IDE build:

[code]

I notice that the test appears susceptible to the load on the machine:

https://github.com/rickynils/scalacheck/blob/master/src/test/scala/org/scalacheck/PropSpecification.scala#L156-L167

Could you increase the tolerance, or maybe rig things so that test only runs when you do a release buil

[2014-06-26 19:20] #106 closed, assigned to nobody

[2014-07-28 15:54] #89 closed, assigned to rickynils

[2014-08-04 04:08] xuwei-k opened #108 "NumberFormatException due to #105"
#104 #105

https://travis-ci.org/xuwei-k/scalaz/jobs/31584671#L392

[code]

/cc @jaceklaskowski

[2014-08-08 10:07] #108 closed, assigned to nobody

[2014-09-22 03:20] benhutchison opened #113 "Arbitrary[Double] distribution is borken"
Scalacheck is using a flawed method [https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Arbitrary.scala#L105] to generate Arbitrary Double values. Currently, it basically generates 3 number "archetypes": +1E307, 0.0, and -1E307. Because it is using a uniform distribution with endpoints at +/- E307, the chance of it generating any values in a everyday range (say +/- 1

[2014-10-31 22:09] fommil opened #115 "Arbitrary[BitSet]"
and if there is anything else missing from the collections libs, that would be great too

https://github.com/wg/jacks/blob/master/src/test/scala/jacks/spec.scala

[2014-10-31 22:12] fommil opened #116 "generate arbitrary ADTs"
this is more of a closing-of-the-loop with

https://github.com/typelevel/shapeless-contrib/issues/25

It should be possible to generate arbitrary abstract data types and their instances, which would be utterly utterly amazing for testing serialisation frameworks.

[2014-10-31 23:56] fommil opened #117 "NotSerializableException"
I'm seeing a lot of these kinds of exceptions (very very long stacktraces) when running in forked tests from sbt.

[code]

[2014-11-04 22:42] jedesah opened #118 "Add Arbitrary instance for Any"
I issued [this](https://github.com/scalaz/scalaz/pull/833) PR against scalaz which defines an instance of Arbitrary for Any. I think it is likely this could be useful for others. Surprised this hasn't come up yet (probably has, just did not hear of it).

[2014-11-24 16:42] #102 closed, assigned to nobody

[2014-11-24 16:42] #115 closed, assigned to nobody

[2014-11-24 16:43] #117 closed, assigned to nobody

[2014-11-25 11:19] #113 closed, assigned to nobody

[2014-11-25 11:21] #118 closed, assigned to nobody

[2014-11-27 15:14] rickynils opened #120 "Make test parameters configurable per property"
It would be useful to set certain test parameters (RNG, minSuccessfulTests etc) for individual properties.

[2014-12-02 19:11] InTheNow opened #122 "Port to Scala.js 0.6 and its new test interface"
Similar to [Port uTest to Scala.js 0.6](https://github.com/lihaoyi/utest/issues/44).

Release details are [on the Scala.Js forum](https://groups.google.com/forum/?fromgroups#!topic/scala-js/QMlQwSt4VS0)

[2014-12-11 19:47] 2rs2ts opened #124 "arbitrary[BigDecimal] generates numbers that cause NumberFormatExceptions when serialized and deserialized"
I had `arbitrary[BigDecimal]` generate the following: `"0E+2147483648"` in version 1.11.3. That scale is bigger than `Int.MaxValue`, so when you serialize the `BigDecimal` as a `String` and then try to reconstruct it with that `String` you will get a `NumberFormatException`. I understand why this is, but it's troublesome.

[code]

According to [the Javadocs](http://docs.oracle.com/javase/7/docs/ap

[2014-12-16 12:00] MartinWalch opened #125 "Source tarball of scalacheck-1.12.1 not buildable"
from org.scalacheck.util.Prop:
import util.{Pretty, FreqMap, Buildable, ConsoleReporter, Testable}
object Testable is not a member of package org.scalacheck.util

The "Testable" Trait is in the jvm directory which is not included in the source tarball.

[2014-12-30 04:12] ajknoll opened #127 "Make buildableOf* behave more lazily"
`buildableOfN` currently uses `Traversable.fill` to build collections. Unfortunately, `Traversable.fill` eagerly generates the structure, which gets very expensive when generating deeply nested structures of unbounded size.

Optimally, element evaluation should be deferred until the element is requested so that nested structures are only created if they are actually inspected. It won't help with c

[2015-01-04 19:49] rickynils commented on #125
Fixed now.

[2015-01-04 19:49] #125 closed

[2015-01-07 22:07] 2rs2ts opened #129 "Gen.suchThat not respected by shrinking after Gen.map"
My team has a library which contains a bunch of predefined generators. Here's [a simple one](https://github.com/paypal/cascade/blob/develop/common/src/test/scala/com/paypal/cascade/common/tests/scalacheck/scalacheck.scala#L55-L56):

[code]

Unfortunately when I go to use it in practice, this doesn't get respected at all. (We use specs2 along with ScalaCheck, so bear with me.)

[code]

This results

[2015-01-13 16:50] DomBlack opened #130 "Create inbuilt Shrinks to match the inbuilt Generators"
I was building my Shrinks when I realised that even though scalacheck includes a generators for `Long`, `Double` etc it does not include Shrinks for them and thanks to the implicit ShrinkAny I did not release this.

I would assume if the library provided the Generators, it should also provide the Shrinks for those types.

[2015-01-14 05:30] devmage opened #131 "Gen.sequence seems to forget that ScalaCheck is a Scala lib (1.12.1)"
Consider the following console session, with ScalaCheck 1.12.1:

[code]

Incidentally, the type parameters on `genBarList2` cause IntelliJ to refuse to compile, although sbt and the REPL are fine with it.

To get back to Scala-land, I have to import `scala.collection.JavaConverters._` and map on the generator with `.map(_.asScala.toList)`.

Happy New Year! :smiley:

[2015-01-14 16:10] rickynils commented on #129
This is a known issue. With the current design it is not possible retain the `suchThat` filter after a `map`. This will hopefully change in ScalaCheck 2, where the generators have been redesigned to better handle these cases.

[2015-01-14 16:15] rickynils commented on #130
Not having a shrinker for `Long` is a glaring omission, I admit. I'll fix that.

In ScalaCheck 2, shrinkers will be more tightly tied to generators, btw.

[2015-01-14 16:17] DomBlack commented on #130
Is it possible perhaps have custom shrinks give a warning if `ShrinkAny` get's implicitly called within them?

Although if in version 2 the plan is to tie shrinkers to generators that might not be required.

[2015-01-14 18:56] DomBlack commented on #130
Just an FYI I'm implemented a semi complete generic numeric shrinker based on the original Int shrinker in the library. If you want I can issue a PR for that tomorrow replacing the original Int shrinker?

[2015-01-15 10:47] slavaschmidt opened #134 "Example of beforeAll & afterAll"
Hi,

is it possible to extend the user guide with some kind of how a beforeAll / afterAll could be implemented?
I'm trying to test a persistence layer with scalacheck and would like to setup / teardown the database after a set of tests has finished execution.

Many thanks!

[2015-01-17 13:51] bblfish commented on #122
+1 for me on this.

[2015-01-17 13:55] antonkulaga commented on #122
+1 for me on this.

I also want to point out that scalajs0.6 cross project can be used here to share sources

[code]

[2015-01-17 17:16] rickynils opened #136 "Improve arbitrary function generation"
This has been discussed for some time. The current way of generating functions are quite stupid, since it will only generate constant functions.

#66 does some changes in this area, but it must be updated to current master. And maybe we should take the Haskell QuickCheck route instead, using some fashion of CoArbitrary.

[2015-01-19 01:16] tonymorris commented on #136
CoArbitrary, as in Haskell, is not possible given the `Gen` implementation (returning `Option`).

[2015-01-20 16:54] fommil opened #137 "How can we use ScalaCheck to return Arbitrary[T] from pre-canned Seq[T]?"
**TL;DR**: `Gen.oneOf` is really slow for big collections.

I am upgrading from scalacheck 1.9 to 1.12.1 and some of my code is not compiling anymore.

I have two ScalaCheck Arbitrary[MyData] implementations: one that uses fake generators and another that uses a pre-canned sample that was created from our database. I therefore have two tests that run: one on "fake" data and one on "real" data.

Th

[2015-01-22 16:12] InTheNow commented on #122
Quick heads up that I've done an initial port to scalajs 0.6. It's working OK, but needs polishing before I can push for initial feedback, hope in next day or two. This is using RC1, so looks like we should be ready for the final 0.6 release ( that is a BIG one, btw).

In meantime, chats are on https://gitter.im/scala-js/scala-js and https://gitter.im/w3c/banana-rdf

[2015-01-23 09:44] donnerpeter opened #138 "destroySut is called before commands are finished in multithreaded environment"
Sample code:

object HashMapCheck extends Commands {

  def main(args: Array[String]) {
    property(threadCount = 3).check
  }

  type State = Map[String, String]
  type Sut = util.HashMap[String, String]

  override def canCreateNewSut(newState: State, initSuts: Traversable[State], runningSuts: Traversable[Sut]): Boolean = true
  override def destroySut(sut: Sut): Unit = { println("destroy " + S

[2015-01-26 14:14] InTheNow commented on #122
Please see pull request #139, already reviewed by @srjd  and new commit based on review comments.

@srjd - many thanks (again) for your comprehensive review comments.

[2015-01-26 15:46] michaelpj opened #140 "Make :| lazy"
I have some tests where generation of good string representations is quite expensive. However, I'd like to see them if the test fails, so I put the string representations in the test labels. But then they are computed for every test, regardless of failure, which slows the tests down a lot!

From a brief glance at the code it doesn't look like it's quite as simple as changing the signature of `:|`

[2015-01-29 22:44] gkazior commented on #89
I got similar problem with:

[code]
which usually returns Set(one, two) but sometimes Set()
Unfortunately my case was much more complicated.

The documentation states:
"The size of the generated container is given by n."
Which is not true!

[code]

I understand the problem with:
[code]

BTW. I wanted a list with unique elements and given length. Possibly there is a better method.

Great lib!

[2015-02-05 21:50] #122 closed

[2015-02-08 04:14] pocketberserker commented on #136
I tried to implement CoArbitrary pocketberserker@4293d29 and replace arbitrary function implementation pocketberserker@169d1e4 .

[2015-02-09 14:13] dpolivaev opened #143 "Make class declarations public to enable save and replay of shrinked command sequences"
After ScalaCheck generates and executes some command sequences, finds failures and shrinks the sequences to the smallest sequences required to reproduce a bug, it could be helpful to save such distilled sequences which could be used for debugging of SUT and for regression tests. I would like to implement an extension which can capture and replay the findings.

It looks like currently a minor issue

[2015-02-11 10:27] rvvincelli opened #145 "Behavior of Gen.retryUntil"
Hello, this is not really an issue but I thought it is easier and more visible to post it here rather than on the mailing list.

I want to define a stateful generator, and since I cannot find anymore the constructor `Gen.Params => Option[T]` nor any other facility supporting in this (CMIIW) my pick to get things done is the `retryUntil` method. I want a unique generator, its defining property is t

[2015-02-11 22:23] rickynils commented on #145
OK, it should maybe be noted in the documentation for `retryUntil` and `suchThat` that the provided test method must be side-effect free. There is no guarantee that the test will be executed only once. In fact, it has to be executed several times during the shrinking phase. In your example, when the test is executed a second time, for the same value of `a`, it will return false.

[2015-02-11 22:25] rickynils commented on #140
This is a very reasonable request. I'll see if I can fix it. Thanks!

[2015-02-11 23:11] rickynils commented on #137
Interesting use case! I can understand that the (admittedly hacky) generator filtering introduced in 1.11 slows things down for you.

However, you can still use a similar solution as before. For example, you can use `Gen.wrap` which creates a generator that evaluates another generator. Something like this would work:

[code]

As you can see, this generator will be exhausted after 3 evaluations:

[

[2015-02-12 10:39] rvvincelli commented on #145
#146

[2015-02-12 16:13] rickynils commented on #145
#146 has been merged, closing this issue.

[2015-02-12 16:13] #145 closed

[2015-02-16 16:50] skarepov commented on #137
@rickynils Many thanks, it works again.

[2015-02-24 09:30] eallik opened #147 "add Gen.collect"
Currently, I have to combine `filter` + `map`.

I've tried implementing `Gen.collect` in my own fork of ScalaCheck but the provided `build.sbt` in `master` does not allow for out-of-the-box compiling because of compilation errors.

[2015-02-24 09:33] eallik opened #148 "ScalaCheck master compilation fails with many errors"
I'm sorry if this is just a temporary failure and I shouldn't be reporting this as an issue, but it's currently effectively preventing me from making a simple contribution to the project.

[code]

[2015-03-03 21:08] axel22 opened #150 "The scalacheck.org url is broken"
www.scalacheck.org works though

[2015-03-06 09:32] rickynils commented on #150
Thanks for reporting this! Both URLs should work now.

[2015-03-06 09:32] #150 closed

[2015-03-06 16:51] #148 closed

[2015-03-07 12:16] eallik commented on #148
that was on OS X by the way.

[2015-03-09 19:46] rickynils commented on #148
@eallik Is it working for you now that 784ef23 has been merged?

[2015-03-10 15:04] eallik commented on #148
Yes, I was able to successfully `sbt compile` the project now at cbd06b3.

[2015-03-15 19:11] vdichev opened #154 "NullPointerException in Pretty.scala when parameter is null"
When a generator generates a `null` value and the property fails, the pretty printer throws a NPE because it tries to invoke `toString` on it. Granted, it's known which value of the parameter has caused the property to fail (`null`), but still we're missing useful information if we have e.g. labeled properties.

The issue occurs even in master:
https://github.com/rickynils/scalacheck/blob/master/s

[2015-03-25 16:02] pchlupacek opened #155 "Properties("") tests are suffering of diadlock to static scala initializers"
Current version of Scalacheck when using the Properties("") helper is suffering from deadlock as documented in https://issues.scala-lang.org/browse/SI-7646 or http://stackoverflow.com/questions/15176199/scala-parallel-collection-in-object-initializer-causes-a-program-to-hang

It seems that making the tests to extends DelayedInit (deprecated) is resolving the issue.  That means in other words  if `

[2015-04-12 08:01] dpolivaev commented on #138
Fixed in https://github.com/rickynils/scalacheck/pull/156

[2015-04-12 13:23] InTheNow opened #157 "New release with latest JS impl"
The 1.12.2 release had a few minor issues that now seem to be fixed with the refactor to use the same code on JS/JVM - could this be published asx 1.12.3, please?

[2015-04-13 23:06] rickynils commented on #138
#156 has been merged now.

[2015-04-13 23:06] #138 closed

[2015-04-14 09:00] rickynils opened #158 "Test.Parameters have no pretty-printer"
See for instance https://travis-ci.org/rickynils/scalacheck/jobs/58393254#L466

[2015-04-14 09:20] #154 closed

[2015-04-14 09:20] #158 closed

[2015-04-14 09:37] #147 closed

[2015-04-15 00:04] gt-tech opened #159 "implication operator not found"
val propMakeList = forAll { n: Int => ( (n >= 0 && n < 10000) ==> (List.fill(n)("").length == n) )}

results in warning in Scala IDE (and compilation error) that - value =⇒ is not a member of Boolean

ScalaCheck version - scalacheck_2.11-1.12.2
Scala Version - 2.11.6
scala-parser-combinators - 2.11.0-M4

[2015-04-15 05:50] rickynils commented on #159
@gt-tech I think you need to add `import org.scalacheck.Prop.BooleanOperators` (or `import org.scalacheck.Prop._`)

[2015-04-15 14:35] hzach commented on #159
I'm having the same problem. I tried the same example above with the explicit import of BooleanOperators. Intellij gives an error saying that the symbol `==>` cannot be resolved.

I'm using the same versions of scalaCheck and Scala as @gt-tech

[2015-04-17 18:07] gt-tech commented on #159
I was able to resolve the issue, the code after implication operator needed to be enclosed in curly brackets, thanks @rickynils , I had wildcard import on Prop earlier.

[2015-04-17 18:07] #159 closed

[2015-04-21 12:27] dpolivaev commented on #138
Please consider follow-up pull request https://github.com/rickynils/scalacheck/pull/160

[2015-05-03 18:32] jedesah commented on #136
As a side note, it would be really nice if the generated functions could have a nice `toString` method. When trying to figure out why your property fails, it sort of sucks to see `<function2>` as the representation of the function that was generated.

I took a stab at a version that uses reflection, and one of the advantages of this approach is that it is possible to generate functions like so:

[2015-05-04 16:32] joshcough commented on #55
I'm seeing similar strange behavior to this in 1.12.2. I sincerely hope this isn't me doing something wrong. If so, I apologize in advance, and if you could help me understand it, I'd really appreciate it.

The strange behavior happens in my [Engines](https://github.com/joshcough/Engines/) project (which is very small and easily cloneable), and is hopefully easily reproducible. Also, it might be w

[2015-05-04 17:04] joshcough commented on #55
Sorry, I should have added that the test code that fails is here: https://github.com/joshcough/Engines/blob/master/src/test/scala/com/joshcough/engines/exchange/ExchangeProperties.scala.

I will try to produce a smaller, more self contained version, but cannot do that immediately.

[2015-05-04 18:14] joshcough commented on #55
Hello, s11001001 has explained to me the behavior here:

"<orig> try try try <last failure> <success, discarded> and ARG_0 = last failure"

So, what I see printed is a legit passing case, and ARG_0 is the one prior to that, and it failed. I'm sorry that I didn't know about that.

[2015-05-05 01:29] joshcough commented on #55
Just wanted to leave one more comment here. Feel free to ignore this, since I should have know and/or read the documentation. But given that I didn't know that the shrinking was happening automatically, it seems like some confusing things could potentially be improved with only minor changes.

ARG_0 and ARG_0_ORIGINAL get printed, but not the argument for the test that actually passed (if it was p

[2015-05-11 04:24] zbeckman opened #162 "Play + ScalaCheck + specs2: Missing or invalid dependency"
I'm trying to get ScalaCheck working with Play Framework (2.3.9).

After adding the specs2-scalacheck dependency:

	"org.specs2" %% "specs2-scalacheck" % "3.6" % "test",

I end up getting:

[error] missing or invalid dependency detected while loading class file 'JUnitRunner.class'.
[error] Could not access type DefaultSelection in package org.specs2.reporter,
[error] because it (or its dependencie

[2015-05-13 08:46] InTheNow commented on #157
Hi- Scala.js 0.6.3 has been released that includes a fix for PermGen exceptions that have caused scalajs to be removed from the travis build. Also, a release of scaclatest for scalajs is expected, apparently

Any chance of this, please?

[2015-05-13 14:45] rickynils commented on #157
@InTheNow I have bumped the scalajs version now. It seems we still get PermGen exception in the Travis builds, but I haven't looked closer.

[2015-05-14 10:59] yawnt opened #164 "Test.scala fails to compile in scala.js"
`Test.scala` (and at a first glance `Commands.scala` and maybe something else) depend on multiple `java.util.concurrent.*` classes, which are not available in Scala.js. This causes the compilation to fail with `linking errors`.
From the look of it it seems like most of it is needed for parallelism, but I'm not familiar with the lib enough to figure out what I can remove and what not.
Any help woul

[2015-05-14 12:59] InTheNow commented on #157
In addition to https://github.com/sjrd/scalacheck/commit/46f836798133333f3a417fb4e0300fc0923dbfa9, you might also want to cross ref with https://github.com/rickynils/scalacheck/pull/139 that might cover similar points.

[2015-05-20 18:12] rickynils commented on #164
I'm confused. ScalaCheck 1.12.2 has been released for scala.js: http://search.maven.org/#artifactdetails%7Corg.scalacheck%7Cscalacheck_sjs0.6_2.11%7C1.12.2%7Cjar

[2015-05-20 18:14] rickynils commented on #162
Sorry, but this doesn't seem like an issue in ScalaCheck, which is not using `JUnitRunner` anywhere.

[2015-05-20 18:14] #162 closed

[2015-05-20 18:32] rickynils commented on #164
OK, now I get it, ignore my confusion. This was fixed in 46f836798133333f3a417fb4e0300fc0923dbfa9

[2015-05-20 18:32] #164 closed

[2015-05-20 18:34] rickynils commented on #157
The Travis builds works fine with scala.js 0.6.3 now. I'll release ScalaCheck 1.12.3 soon.

[2015-05-20 18:37] InTheNow commented on #157
Excellent!!

[2015-05-20 20:00] rickynils commented on #157
ScalaCheck 1.12.3 has now been released, closing this issue.

[2015-05-20 20:00] #157 closed

[2015-05-21 20:14] ummels opened #165 "1.12.3 broke compatibility with ScalaTest"
After upgrading from 1.12.2 to 1.12.3, all my tests defined using `org.scalatest.prop.PropertyChecks` fail with an `AbstractMethodError`. For instance, running [this spec](https://github.com/ummels/scala-prioritymap/blob/master/src/test/scala/de/ummels/prioritymap/PriorityMapSpec.scala) yields

[code]

[2015-05-21 22:41] rickynils commented on #165
Ouch. This was caused by adding a not-really-private `private[scalacheck]` method to `Test.Parameters` in 1.12.3. I have removed it now again. Please try `1.12.4-SNAPSHOT`.

[2015-05-22 07:14] cheeseng commented on #165
hi @rickynils,

Not sure if it is related, but I just hit a problem with 1.12.3 too when trying to use scalacheck from scalatest, you can reproduce the problem by following these steps:

After that you can change the following line to use 1.12.3 (or 1.12.4-SNAPSHOT, same result)

https://github.com/cheeseng/scalatest/blob/scala-js-20150522/project/scalatest.scala#L455

and then do:

It would fail

[2015-05-22 09:20] rickynils commented on #165
@cheeseng I have published a new build of `1.12.4-SNAPSHOT` that logs a bit more for your exception. The problem seems to be that ScalaCheck is provided with invalid parameters. In ScalaCheck `1.12.2` the parameters were actually not parsed at all for ScalaJS (only default params were used). In `1.12.3` the parameters are parsed properly also in the JS case. When running your build with the new lo

[2015-05-22 13:13] cheeseng commented on #165
@rickynils thanks for the info, it is a good hint, the same behavior is observed when running with jvm also, I am able to fix the problem (both jvm and js) by just adding TestFrameworks.ScalaTest, and both 1.12.3 and 1.12.4-SNAPSHOT now working.  Cheers.

[2015-05-22 13:49] ummels commented on #165
@rickynils Thanks, with 1.12.4-SNAPSHOT everything is working as expected.

[2015-05-22 23:04] mallman opened #166 "1.12.3 sbt test runner does not run all tests having the same name"
Running test code

    import org.scalacheck._

    object StringSpecification extends Properties("String") {
      import Prop.forAll
      property("substring") = forAll { (a: String, b: String) =>
        (a+b).substring(a.length) == b
      }

      property("substring") = forAll { (a: String, b: String, c: String) =>
        (a+b+c).substring(a.length, a.length+b.length) == b
      }
    }

i

[2015-05-24 21:59] zbeckman opened #167 "Intermittent (and rare) java.lang.reflect.InvocationTargetException"
I've written a helper function to generate one-off randomized names. On rare occasions, it generates a java.lang.reflect.InvocationTargetException.

The relevant code:

[code]

The final line (above) is the line that generates:

[error] java.lang.reflect.InvocationTargetException
[error]   caused by java.util.NoSuchElementException: None.get

This is pretty rare. I wrote a small unit test to repro

[2015-05-25 21:32] douglaz commented on #131
Stumbled on this. It's very annoying.

[2015-05-25 23:06] jedws commented on #167
The underlying cause is due to calling Option.get, which you should never
do.

You are calling the Gen directly, which isn't normally how you'd use
ScalaCheck, you usually let the test framework create the test instances
for you.

On 25 May 2015 at 07:59, Zacharias J. Beckman <notifications@github.com>
wrote:

[2015-05-25 23:42] jedws commented on #131
It actually is very aware that it is Scala, and that Scala is not very good
at type-inference. For some reason Scala infers the type j.u.List.

As usual in Scala, some judicious use of explicit type parameters solves
the day. The first parameter is the fully specified container, and the
second is the element type:

scala> val genBarList = for { ints <- genInts; bars <-
Gen.sequence[List[Bar], Bar]

[2015-05-26 18:43] devmage commented on #131
@jedws in my example above, I offer exactly your proposed solution in `genBarList2`, so thank you for confirming the behavior on your side. :)

The point here, however, is that without explicit type parameters the resultant `List[A]` is a `java.util.ArrayList[A]` instead of a `scala.collection.immutable.List[A]`. It figures out the `A` just fine; I'm accustomed to this being a problem, rather than

[2015-05-27 00:28] jedws commented on #131
@devmage sorry, didn't see your solution

Unfortunately, Scala's type inference is not very good. It is often necessary to explicitly annotate in places where it seems silly and that the compiler _should_ do a better job of it.

Could scalacheck have a better signature, or provide a better default `Buildable`? It probably can! That would be a great PR.

[2015-05-27 10:05] mlangc commented on #129
Hmm, I guess this is the same issue then:

Using *scalacheck-1.12.2* with *scalatest-2.2.5* and *scala-2.11.6* executing
[code]
results in
[code]

This problem is also mentioned on http://stackoverflow.com/questions/20037900/scalacheck-wont-properly-report-the-failing-case although the bug mentioned there was closed a while ago.

[2015-05-28 16:27] alexarchambault commented on #165
Ran into this too: https://travis-ci.org/alexarchambault/argonaut-shapeless/jobs/64441556
Switching to 1.12.4-SNAPSHOT fixed it.

Any hope of a release with it?

[2015-05-28 16:30] rickynils commented on #165
@alexarchambault Yes, I'll release 1.12.4 as soon as I get time

[2015-05-28 16:47] alexarchambault commented on #165
Great :-)

[2015-06-03 14:58] cheeseng opened #168 "maxDiscarded problem in 1.12.3"
Hi all,

We just discovered that upgrading from 1.12.2 to 1.12.3 breaks one of our test that depends on the behavior of maxDiscarded:

[code]

It is working correctly with 1.12.2, but not 1.12.3, we tried to look up for behavior change of maxDiscarded/discard in 1.12.3 release note but didn't get any, can we know what has changed in maxDiscarded/discard behavior from 1.12.2 -> 1.12.3?

Thanks in a

[2015-06-11 06:58] rickynils commented on #166
Yeah, that is confusing. Do you feel there's a need for supporting this use case, or should ScalaCheck simply refuse adding properties with the same name to a `Properties` collection?

[2015-06-11 18:50] non commented on #136
Hello, is there any plan to improve function generation for Scalacheck, either along the lines of @pocketberserker's work, or another way?

[2015-06-11 19:05] xuwei-k commented on #136
pocketberserker's codes still does not work correctly due to mutable random generator(`scala.util.Random`)

Maybe there are 2 ways
- immutable random number generator + State monad like( [I have implemented](https://github.com/scalaprops/scalaprops/blob/v0.1.7/core/src/main/scala/scalaprops/Gen.scala#L9) )
- murable random number generator + IO monad like (Haskell's QuickCheck ?)

[2015-06-11 19:18] xuwei-k commented on #136
work in progress
- https://github.com/scalaprops/scalaprops/commit/4b48db01cc590a0678
- https://github.com/nick8325/quickcheck/blob/2.8.1/Test/QuickCheck/Function.hs#L8

[2015-06-11 21:54] mallman commented on #166
My main concern is that 12.2.3 skips tests that ran in 12.2.2. While it can be spotted when you have 2 or 3 tests in your codebase or are developing new ones, if you have a large test base this regression can easily go undetected.

Based on the example in the documentation and the behavior I found in 12.2.2, I assumed this behavior was supported. Whether or not that assumption is correct, I'm prob

[2015-06-12 18:55] non commented on #136
I created a branch to update Scalacheck to use an immutable RNG, and created a basic Cogen type there. I was able to hack together a Gen[A => B] which produces deterministic, but non-constant, functions:

https://github.com/non/scalacheck/blob/topic/immutable-rng/src/main/scala/org/scalacheck/Gen.scala#L614

The warts around using Option are still there -- I may try something a bit more radical.

[2015-06-13 16:54] aryairani opened #172 "no filter, but tests being discarded?"
Any idea what could be going on here?   I've tried adding verbose to see what was being discarded, but I didn't observe any change in output.  (P.S. I'm stuck on scalacheck `1.12.2` due to https://github.com/scalaz/scalaz/pull/954)

[code]

[code]

[2015-06-15 05:53] rickynils commented on #168
@cheeseng Can you go into some more details on how the behavior differs for you between 1.12.2 and 1.12.3? Would it be possible to demonstrate it in a ScalaCheck-only scenario? The `maxDiscarded` parameter is not part of ScalaCheck, for example. Only `maxDiscardRatio`.

[2015-06-15 06:16] #166 closed

[2015-06-15 06:18] cheeseng commented on #168
Hi @rickynils , thanks for replying, actually we did check last week and found out that the reason behind the failed tests is that maxDiscardRatio will still at least try minSuccessful of time, even if the maxDiscardRatio thresold has been reached, so we modified our tests to adapt to the mentioned behaviour and they're cool now.  :)

Sorry for making the noise, I'll close this issue.

[2015-06-15 06:18] #168 closed

[2015-06-15 10:20] aloiscochard opened #173 "java.lang.Exception: Invalid ScalaCheck args"
Hi,

When upgrading to 1.12.3 from 1.12.1 I now have the following exception `(web/test:executeTests) java.lang.Exception: Invalid ScalaCheck args`.

Thanks

[2015-06-15 10:29] rickynils commented on #173
@aloiscochard See https://github.com/rickynils/scalacheck/issues/165#issuecomment-104588601 . Are you using ScalaJS? In earlier versions of ScalaCheck, the test arguments was not passed on for ScalaJS runs. You can try using 1.12.4-SNAPSHOT to get a bit mor info about what parameters might cause the exception.

[2015-06-15 10:55] juanrh opened #174 "Prop.exists fails when used with ScalaTest matchers"
Hi,

I sent this to the ScalaCheck mailing list at google groups but it doesn't get published.
I have a problem about using ScalaTest matchers inside a Prop.exists property. When the property runs and a value is generated such that the matcher fails, it throws a TestFailedException and the property fails, instead of trying with the next generated value until reaching the limit in the number of tes

[2015-06-15 12:52] rickynils commented on #165
ScalaCheck 1.12.4 has now been release, fixing these compatibility issues.

[2015-06-15 12:52] #165 closed

[2015-06-21 19:19] #136 closed

[2015-06-22 12:03] aloiscochard commented on #173
@rickynils okay, thanks to 1.12.4 I know have the following information:

`java.lang.Exception: Invalid ScalaCheck args: List(-oF)`

[2015-06-22 12:18] aloiscochard commented on #173
Okay, it's an integration issue with scalatest, probably somethnig changed in SBT. I fixed this by replacing:
`testOptions in Test += Tests.Argument("-oF")`

with:
`testOptions in Test += Tests.Argument(TestFrameworks.ScalaTest, "-oF")`

http://www.scalatest.org/user_guide/using_scalatest_with_sbt

[2015-06-22 19:16] kevinmeredith opened #175 "Usefulness of org.scalacheck.Prop#check?"
I wrote a scalacheck test that called [org.scalacheck.Prop#check](https://scalacheck.googlecode.com/svn/artifacts/1.9/doc/api/org/scalacheck/Prop.html). I had figured that this method would've caused an assertion failure if the property did not hold. However, it did not.

[code]

[code]

Running `sbt test` produced console output that indicated a test failure. However, sbt reported that the test h

[2015-06-23 17:28] rickynils commented on #175
I think that the documentation can be improved, to point out that `Prop.check` and `Properties.check` only makes sense when you're running checks interactively in the Scala REPL. Otherwise you should use the sbt test runner (or the ScalaTest or specs integration).

Throwing an exception wouldn't make sense for ScalaCheck, since exceptions aren't used anywhere else to indicate test failures.

[2015-07-02 22:35] JoshRosen opened #177 "NullPointerException when using Gen.const(null) in Gen.oneOf()"
I'm trying to write a function which accepts a `Gen` and produces a new `Gen` which sometimes returns `null`.  While working on this, I ran into an unexpected NullPointerException in ScalaCheck.  Here's a reproduction:

[code]

Note that

[code]

[2015-07-02 23:47] JoshRosen commented on #177
There seems to be some sort of unexpected interaction between `null` and `Array`, since cases like

[code]

do not hit this issue.

[2015-07-06 14:02] limansky commented on #173
I've observed that running individual test is works fine with ScalaCheck 1.12.2, but brocken with 1.12.4. I'm doing it in this way:

testOnly MyClassTest -- -z "my test name"

I propose to reopen this issue.

[2015-07-06 14:15] rickynils commented on #173
@limansky `-z "my test name"` is not a valid ScalaCheck option. Can you tell us a bit more what you are trying to achieve and what error you get?

[2015-07-06 14:51] limansky commented on #173
@rickynils Let me show you an example. Assume I'd like ot run only one test from big test suite for debuging purpose. Here is a real example from https://github.com/limansky/mongoquery with ScalaCheck 1.12.2:
[code]
Now, the same with the ScalaCheck 1.12.4:
[code]

[2015-07-06 15:18] rickynils commented on #173
@limansky `java.lang.Exception: Invalid ScalaCheck args: List(-z, parse int values)` tells you why ScalaCheck fails. `-z "parse int values"` is not an option that ScalaCheck recognizes. For some reason it is handed to ScalaCheck by scalatest/sbt, and that is the problem in the first place. As you can see above, @aloiscochard has a workaround for it.

[2015-07-06 15:53] limansky commented on #173
Well, workaround is ok for permanent options, but it is not an option for temporary settings, like test name for running. I try to investigate it if I'll have free time.

[2015-07-09 20:07] non commented on #67
This was fixed in #171.

[2015-07-10 11:39] #67 closed

[2015-07-11 23:12] ChrisCoffey commented on #177
This actually occurs with any `Buildable` in head position followed by a `null`, not just `Array[_]`. This can be replicated by:

[code]
However, placing `Gen.const(null)` at the head works fine as a workaround.

I'm putting together a pull to address this.

[2015-07-12 22:16] etorreborre opened #181 "Publish a version for Scala 2.12-M1"
Can you please publish a version for Scala 2.12-M1 (M2 is around the corner)?

This will help with testing ScalaCheck on Scalaz-stream and specs2: https://github.com/scalaz/scalaz-stream/issues/382.

[2015-07-12 22:19] etorreborre commented on #181
Sorry I failed to [check](https://oss.sonatype.org/content/repositories/releases/org/scalacheck/scalacheck_2.12.0-M1/1.12.4/). Please ignore.

[2015-07-12 22:19] #181 closed

[2015-07-13 20:54] juanrh commented on #174
Hi,

It's been almost a moth, any thoughts on this?

[2015-07-14 16:29] rickynils commented on #174
@juanrh Did you see Bill's reply in https://groups.google.com/d/msg/scalacheck/Ped7joQLhnY/gNH0SSWkKUgJ?

[2015-07-16 11:13] jroper commented on #173
@rickynils it appears that ScalaCheck is assuming that it is the only test runner, and throwing exceptions for arguments it doesn't understand. This is simply not true. Prior to upgrading ScalaCheck from 1.2.12 to 1.2.14, I could run individual specs2 examples in the sbt console by doing this:

    test-only com.example.MySpec -- -ex "this should work"

But now, I get this error:

    java.lang.Ex

[2015-07-16 14:39] rickynils commented on #173
@jroper I see. I have to look into it. It could be that ScalaCheck picks up tests that it shouldn't. Or that sbt hands ScalaCheck options that it shouldn't.

[2015-07-16 18:44] statusfailed opened #183 "Stateful testing section of user guide not up to date?"
I tried to write some "stateful testing" code by following the [user guide](https://github.com/rickynils/scalacheck/wiki/User-Guide), but it doesn't seem to work.
I'm getting errors like the following when I try to compile:

    [error] Demo.scala:14: object creation impossible, since:
    [error] it has 5 unimplemented members.
    [error] /** As seen from object CounterSpecification, the missing

[2015-07-21 13:46] tkawachi opened #185 "Test report is wrong when `fork in Test := true`"
Following test unexpectedly succeeds when `fork in Test := true`.

[code]

[code]

I confirmed this issue was introduced by 82042613eebbde3c822328cbfab3c4186828f1f1 using `git bisect`.

Tested by sbt 0.13.8 and scalacheck 1.12.4.

[2015-07-24 01:51] xuwei-k commented on #185
+1

[2015-07-24 09:15] #177 closed

[2015-07-24 10:25] rickynils commented on #185
Weird. Will look into this after my vacation.

[2015-07-24 10:26] rickynils commented on #183
Ah, the documentation could very well be out of sync with the implementation. I'll look into it when I get time.

[2015-07-24 10:27] rickynils commented on #175
Closing this, scaladoc has been updated.

[2015-07-24 10:27] #175 closed

[2015-07-27 13:30] WellingR opened #186 "Gen.choose(double1, double2) fails if (double2 - double1) is infinite"
Example `Gen.choose(Double.MinValue, Double.MaxValue)` always fails to generate a double.

I see that in this specific case it would be better to use `Arbitrary.arbitrary[Double]`, however `Gen.chooseNum` has the same problem (it fails unless it generates one of the special values).

[2015-07-28 08:53] juanrh commented on #174
Hi,

I hadn't seen that, thank you for the pointer. I'll close the issue then.

Thanks a lot for your help.

Greetings,

Juan

[2015-07-28 08:53] #174 closed

[2015-07-30 15:08] xuwei-k commented on #173
I completely agree with jroper.

[2015-08-01 03:47] rickynils commented on #173
I've realized sbt creates Runners for all test frameworks even though no tests are found, so ScalaCheck is doing the wrong thing here.

I'll fix it, but the question is how to handle faulty arguments. I'll probably ignore them and just log a warning message (and only do this for actual ScalaCheck tests)

[2015-08-04 22:23] sid-kap opened #187 "Custom number of runs per property"
I'm using scalacheck with sbt. When I run the `test` command in sbt, Scalacheck, by default, generates 100 test cases for each `Prop` in all `Properties` classes in my test path.

Can we add a feature so that I can specify minSuccessfulTests for each Prop in my source code? This would be useful so that I can run fewer tests for tests that take longer to run.

What I have in mind is an annotation t

[2015-08-05 07:56] rickynils commented on #187
This should be possible to add in ScalaCheck 2. Adding it to the current implementation would probably be too involved.

[2015-08-05 19:03] sid-kap commented on #187
I'm not sure that I want to wait until ScalaCheck 2.
I think I'll take a stab at this and see if we can get this working without changing the current implementation too much?

[2015-08-07 04:04] jedws commented on #173
hmm, pretty annoying for us too, makes the upgrade impossible

[2015-08-10 06:06] #173 closed

[2015-08-10 06:26] rickynils commented on #173
I've resolved this both on the `master` branch (version `1.13.0-SNAPSHOT`), and back-ported it to `1.12.x`, so it will be released in `1.12.5` too.

[2015-08-12 21:12] scalasolist opened #189 "Gen.choose[Int] out of bounds"
I'm just getting started with ScalaCheck. I use Gen.choose(1, 1000) to generate input for a function that requires non-negative value (and subtracts it until get less or equal to 0). Supplying 0 to the function led it to infinite loop. And 0 was actually generated by Gen.Choose(1, 1000). At first I was puzzled by sudden hungup, but then added debug output and discovered that 0 value was eventually

[2015-08-26 00:51] xuwei-k opened #190 "Cogen instances for Function"

[2015-08-29 15:50] sid-kap opened #191 "Next release?"
Hi, I was just wondering when you plan to release 1.12.5?

[2015-09-01 21:37] sid-kap commented on #191
Ping

[2015-09-08 11:57] WellingR commented on #189
I believe if you have shinking enabled (which is the default), then the Shrinking process can produce values which could not have been generated by the generator itself.

Since there is no default `Shrink` for `Long` (but there is for `Int`), you only see this issue when generating integers.

[2015-09-08 17:51] kevinmeredith commented on #175
Thank you for this fix (and the library)!

[2015-09-09 13:32] sid-kap commented on #191
ping

[2015-09-10 08:58] rickynils commented on #191
1.12.5 has now been published. Sorry for the delay.

[2015-09-10 08:58] #191 closed

[2015-09-10 17:14] bvenners opened #192 "Understanding the isExhausted formula is too exhausting"
Hi Rickard,

We made a change to ScalaTest that has caused some pain for users using our 3.0 milestone releases, and we think it may best be addressed by revisiting this line of code in ScalaCheck:

https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Test.scala#L292

What I wanted to do in ScalaTest in 3.0 was dial down the default minSuccessfulTests from 100 to 10. (

[2015-09-10 22:27] rickynils commented on #192
The scaladocs on `maxDiscardRatio` say this:

[code]

The problem you have is that the current implementation checks if `maxDiscardRatio` has been violated after each test run. If the very first test is discarded, we already have an infinitely high discard ratio. The `n+d > minSuccessfulTests` condition is there to protect against such cases. However, when `minSuccessfulTests` is small (as in your

[2015-09-14 13:35] scalasolist commented on #189
Is it possible to restrict shrinking domain?

[2015-09-14 15:03] WellingR commented on #189
I believe you can call the `filter` or `suchThat` functions on your generator for this.
e.g. `Gen.choose(1, 1000).suchThat(_ > 0)`.
The condition in the suchThat block will be ensured not only when generating values, but also when shrinking.

Alternatively you can use implications in your testcases (see the scalacheck user guide for some examples)

[2015-09-21 06:10] #192 closed

[2015-09-21 06:24] rickynils commented on #189
@scalasolist: As @WellingR mentions, the shrinking is not perfect, it can sometimes generate values that was not originally generated. Using implications is probably the best way to work around this, and it will also make clear what preconditions your method has.

One thing to notice; when the shrinking process starts, that is because ScalaCheck actually has found an error for an original, non-shr

[2015-09-21 06:24] #189 closed

[2015-09-21 06:39] rickynils commented on #143
We are slowly moving towards reproducible tests in ScalaCheck by making the generators deterministic. In the end, that should make the stateful tests reproducible too.

[2015-09-21 06:40] rickynils commented on #187
PR #188 has been merged.

[2015-09-21 06:40] #187 closed

[2015-09-21 06:49] rickynils commented on #172
I suspect you're running into the problem reported in #89

[2015-09-21 07:03] rickynils commented on #190
@xuwei-k I'm not sure what issue you're describing here. Could you provide some more details?

[2015-09-24 12:47] dpolivaev commented on #143
In my eyes one important advantage of scalacheck is its ability to shrink generated test command sequences and so to find smallest possible tests which still find bugs. The goal if this request is to be able to save a shrinked command sequence in a file so that it can be used as a test case for debugging and later as a regression test.

It is not given just by ability to replay the whole sequence

[2015-09-29 00:55] zbeckman opened #193 "Invalid ScalaCheck args: List(include, x)"
I just reported this over in the specs2 repo too (see https://github.com/etorreborre/specs2/issues/419) as I can't tell if this is a specs2-ScalaCheck integration issue, or just ScalaCheck.

Here's a recap:

Something broke within the past few days (or week) I believe. We have a stable project configuration. However, as of today when I tried to run a tagged test (I temporarily tag tests that I'm w

[2015-09-29 01:06] etorreborre commented on #193
I think you can work around this issue for now (until it is fixed in the next ScalaCheck version) by adding this to your sbt file:
[code]

This will prevent arguments to be passed to the ScalaCheck runner.

[2015-09-29 01:11] zbeckman commented on #193
Thanks @etorreborre that's fixed it for the time being. Is there another issue to watch or is this one staying open?

[2015-09-29 03:42] etorreborre commented on #193
We should close this one and re-direct to https://github.com/rickynils/scalacheck/issues/173.

[2015-09-29 22:12] zbeckman opened #194 "Future must be_>(0).await error: `await` not a member of Match[Int]"
Trying to await on a future does not seem to work (or, I'm doing it wrong). Example:

[code]
The commented lines work fine. The uncommented line results in the following error:
[code]
However, `db.run()` very definitely returns a `Future`. This, for example, works fine:
[code]

[2015-10-01 07:03] rickynils commented on #193
@zbeckman What version are you using? The issue #173 should have been fixed in the 1.12.5 release.

[2015-10-01 07:05] rickynils commented on #194
@zbeckman This doesn't seem related to ScalaCheck?

[2015-10-01 15:59] ghost opened #195 "New release with fixes"
Hi,

There is a [cats workaround](https://github.com/non/cats/blob/master/tests/src/test/scala/cats/tests/CatsSuite.scala#L58)  for https://github.com/rickynils/scalacheck/pull/170 and the issue of GeneratorDrivenPropertyCheck failing on Scala-js 2.10 (https://github.com/scalatest/scalatest/issues/661 and https://github.com/rickynils/scalacheck/issues/192) that have both been fixed and merged to m

[2015-10-01 18:20] zbeckman commented on #193
Still seeing the problem with these dependencies (see the last two):
[code]

[2015-10-01 18:24] zbeckman commented on #194
Oops. Should have created on the specs2 repo... sorry.

[2015-10-01 22:54] etorreborre commented on #193
That's because `specs2-scalacheck` depends on `scalacheck-1.12.4`. The next version will depend on `1.12.5`. So in the meantime you need to override the ScalaCheck dependency in your build. This should do:
[code]

[2015-10-06 07:40] #193 closed

[2015-10-06 07:41] #194 closed

[2015-10-25 11:34] SethTisue opened #198 "Publish 1.12.5 for Scala 2.12.0-M3?"
(I see 1.11.6 for 2.12.0-M3 on Maven Central, but not 1.12.5)

The Scala team would be interested in hearing if you encounter any trouble with M3.

[2015-10-25 13:03] rickynils commented on #198
Thanks for reminding me. This had just slipped my mind. I've published 1.12.5 for Scala 2.12.0-M3 now.

@etorreborre @pchiusano

[2015-10-25 13:03] #198 closed

[2015-10-25 21:09] alathon opened #199 "Help with stateful testing"
Hi there,

What if I need to be able to use the result of run() of one Command to provide state that subsequent Command(s) can use?

A very simple example would be if you had an API with two methods; one returns a random number, and another API call requires you to pass that number back to retrieve some value. I'd like to add the random number retrieved in run() to the state, so that subsequent Co

[2015-10-25 22:19] etorreborre commented on #198
Thanks @rickynils.

[2015-10-27 08:18] rickynils commented on #143
@dpolivaev You are correct, even if the tests are deterministic there is nothing that says the system under test is deterministic. So somehow saving the final (minimized) command sequence would actually be useful. I'll re-open this issue and start thinking about a solution.

[2015-10-31 17:25] bababa12345 opened #202 "Using Stateful Testing, specific compilation error occur."
I tried "Stateful Testing" for some of examples. I made reference to the cases, such as
command-leveldb, because the example on User Guide was correspond to the old scalacheck version.
I written forrowing Counter example to match the new scalacheck version.
[code]
I tested above example on sbt, but I got forrowing compilation error.

[code]
Even though I defined "canCreateNewSut", I got this error

[2015-11-01 17:00] jvican opened #203 "Problem when composing `Gen[String]`"
__What am I doing?__
I am building a  _TOML parser_. I want to check strings of unparsed `Long`s that may have underscores between them (following the standard). This is my approach:
[code]
__Problem__
I get an error because my `Gen[String]` is returning an empty String and a NumberFormatException is thrown since an empty string cannot be converted to Long. Why an empty string? I have no idea. In

[2015-11-01 18:11] rickynils commented on #203
This is probably because your parser fails for the string `+1_2` (`elem.parse(s) shouldBe expected` fails). ScalaCheck will then attempt to find a smaller variant of `+1_2` that also fails (the shrinking feature).

Is there a way to instruct ScalaTest to print out the non-shrunk test result? ScalaCheck does it by default, but I don't know about ScalaTest.

You could add a print statement that show

[2015-11-02 04:45] cheeseng opened #204 "Publish 1.12.5 for scala-js 0.6 and scala 2.12.0-M3"
Hi Rickard,

Is it possible to publish 1.12.5 scala-js version for scala 2.12.0-M3?  scalacheck_sjs0.6_2.12.0-M2 seems to be available already but not scalacheck_sjs0.6_2.12.0-M3.

FYI Here's a related issue on ScalaTest:

https://github.com/scalatest/scalatest/issues/749

Thanks.  :)

[2015-11-02 05:04] ngbinh commented on #204
:+1:

[2015-11-02 11:05] jvican commented on #203
Oh yes, you are right. I thought that `ScalaCheck` emitted a warning, but as you pointed out, this is not the default behavior for the `Scalatest` compatibility. Maybe we should add it.
Thanks.

[2015-11-04 10:22] bababa12345 commented on #202
I solved this problem, so I closed this issue.
The reason this compilation error occured is that I used the older version of scalacheck.(ver 1.12.2)
With the new version of scalacheck(ver 1.12.5), this compilation error didn't occured.
I'm sorry to open a wastful problem.
Thank you.

[2015-11-04 10:22] #202 closed

[2015-11-05 13:28] rickynils commented on #199
@alathon This has been discussed before, and it actually was possible to do this in the previous implementation of `Commands`. I'm now convinced that I should try to re-add this in the current implementation, to be able to support use cases like the one you've described.

[2015-11-05 13:52] rickynils commented on #204
@cheeseng @ngbinh I've released it now. It should hopefully be on maven central soon. Thank you for reminding me!

[2015-11-05 13:52] #204 closed

[2015-11-05 13:54] rickynils commented on #203
Closing this, as it's not an issue in ScalaCheck

[2015-11-05 13:54] #203 closed

[2015-11-06 07:58] bababa12345 commented on #202
Sorry, above reason seems to be wrong.
When test code imported "scala.collection.immutable._" run, this error occued.

[2015-11-14 11:01] axel22 commented on #134
+1

[2015-11-28 04:58] japgolly opened #208 "Why JSExport Properties?"
Hello. I just started creating a cross JVM/JS compilation patch for Scalaz, and ran into a problem: In one file, there are many instances of them creating `Properties` like `new Properties(...)` [example](https://github.com/scalaz/scalaz/blob/series/7.2.x/scalacheck-binding/src/main/scala/scalaz/scalacheck/ScalazProperties.scala#L566-L567) which fails JS compilation because ScalaChecks `Properties

[2015-11-28 05:29] japgolly commented on #208
FYI I worked around it by doing this:
https://github.com/japgolly/scalaz/commit/85c7b3a8a86b5b39385c8bb51e6a9f65272b0eea

[2015-11-30 08:44] rickynils commented on #208
@japgolly This could very well be a misunderstanding from my side (as I'm no ScalaJS-expert). But simply removing the exports doesn't work:

[code]

[2015-12-01 12:09] mpitid opened #209 "Seed.double does not generate uniformly distributed numbers"
It appears that the new immutable RNG is flawed. It is not generating uniformly distributed numbers in the interval  [0.0, 1.0).

With a very crude test that generates between 1000 and 100000 random doubles and takes the average, it appears that the average is consistently around ~0.75 instead of ~0.5 (java.util.Random.nextDouble passes the test). Passing that test of course does not guarantee the

[2015-12-04 00:19] japgolly commented on #208
Woah, what's going on I wonder... I'm going to be away from code for a few weeks *(thank you Universe)* but I'd like to have a look at this later when I come back. If nothing else, I'd at least like to learn why this is needed if it is (because from my understanding it shouldn't be).

[2015-12-07 23:30] #186 closed

[2015-12-17 15:53] rickynils commented on #130
Fixed in #135

[2015-12-17 15:53] #130 closed

[2015-12-19 12:05] fommil opened #212 "suppress scalacheck output when running only scalatest tests"
this may be an sbt problem, but when I run something like

[code]

(which only matches scalatest tests) then I get this in the output

[code]

I'd like to suppress scalacheck output here please.

Full sources for reproduction at https://github.com/fommil/ensime-server/commits/graphpocalypse

[2015-12-26 12:16] #212 closed

[2015-12-26 15:20] fommil commented on #212
nice :smile: when will this be in a release?

[2015-12-26 17:46] #209 closed

[2016-01-14 04:51] lukiano opened #214 "Asynchronous Prop"
This is a feature request for a Prop whose apply method has the signature
def apply(prms: Parameters): Future[Result]

And the necessary modifications in methods like Test.check and Prop.forAll

Coupling this with a Test framework that accepts Futures, like ScalaTest 3, would give us the ability to test Futures in ScalaJS where there is no Await.result()

[2016-01-16 04:51] lloydmeta opened #215 "Date generator doesn't target edge cases"
The built-in `Arbitrary[Date]` currently looks like this

[code]

While nice, I don't think this really targets the common edge cases for the `Date` type. Off the top of my head, I would like to see the following targeted:

- First day of the year
- Last day of the year
- First day of the month
- Last day of the month
- Feb 29th date (leap year)
- Beginning of a day (0:00)
- End of a day (23:59)

[2016-01-16 18:38] joshlemer commented on #183
+1

[2016-01-18 07:22] gok01172 commented on #185
The number of total tasks is wrong when `fork in Test := true`

[code]

[code]

There are two properties checked, but sbt prints `Total 1`. Without fork, it gives

[code]

[2016-01-24 12:07] xuwei-k commented on #195
+1

[2016-02-03 00:05] ceedubs commented on #195
:+1: I've been eagerly awaiting this since the introduction of `Cogen`. Is there any way that I can help move this along?

[2016-02-03 00:18] rickynils commented on #195
@ceedubs You can keep nagging me. I'm not kidding you, it actually helps. I will try to dedicate tomorrow to ScalaCheck, so hopefully we should see a release soon. I don't think there are any showstoppers, the only reason this has taken so long is the combination of me having too much to do and being lazy.

[2016-02-03 02:52] ceedubs commented on #195
@rickynils sounds great. Thank you!

[2016-02-03 09:07] lloydmeta commented on #215
Closing since #215 was merged

[2016-02-03 09:07] #215 closed

[2016-02-03 09:50] rickynils commented on #208
@japgolly Did you find out anything about this?

[2016-02-03 14:40] rickynils commented on #183
@statusfailed @joshlemer 0e6f9f4 should fix this issue, I hope. Please check out https://github.com/rickynils/scalacheck/blob/master/doc/UserGuide.md

[2016-02-03 14:40] #183 closed

[2016-02-03 15:55] joshlemer commented on #183
Thanks @rickynils

[2016-02-04 12:51] kamilkloch opened #217 "Runtime Exception with scalacheck 1.13.0"
After updating scalacheck from `1.12.5` to `1.13.0` some tests (`scalatest 2.2.6`) throw the following exception:

[code]

[2016-02-04 13:00] rickynils commented on #217
ScalaCheck 1.13.x is not binary compatible with 1.12.x, so I expect you'd have to rebuild ScalaTest.

[2016-02-04 21:58] marcsaegesser commented on #199
I'm running into this same problem trying to test a database that has an auto increment field. The new value of the auto increment field is known inside run() but not inside nextState() so I can't update my model.

I'd love to not use auto increment but I'm writing tests for an existing product and this isn't something I can change.

[2016-02-05 06:18] japgolly commented on #208
Sorry @rickynils, I haven't touched this and wouldn't have the time for at least another 2 months.
I'll stop being a nuisance and close this.

[2016-02-05 06:18] #208 closed

[2016-02-05 11:15] alathon commented on #199
@marcsaegesser  - I've forked ScalaCheck and implemented the needed changes myself. However, I recommend against using my fork, unless you very specifically only do sequential tests (i.e. don't make use of ScalaCheck's ability to test for deadlocks and race conditions, by doing parallel testing with multiple threads/workers).

There are two immediate issues with my fork (beyond me updating it a lo

[2016-02-05 11:27] rickynils commented on #199
@alathon A PR is always appreciated :) With a 'clean' version do you mean something that would work with the parallel testing, or a cleaned up version of your existing implementation?

My goal is to get this into ScalaCheck (as we've had it before). It might turn out to work badly together with the parallel testing. If so, we should maybe see if the parallel stuff can be moved to a separate module

[2016-02-05 12:09] alathon commented on #199
@rickynils I mean a cleaned up version of my existing implementation. In other words: Should I do a PR with my existing, sequentially working version, and then we can iterate on it to make it work for parallel testing? Or is it better to perhaps raise an Issue on my fork, and we discuss/consider it there?

I agree wrt. the parallel stuff, if it can be. I kind of also wish that ScalaCheck had a cle

[2016-02-05 19:06] xuwei-k commented on #190
https://github.com/scalaz/scalaz/pull/1095

For example, `scalaz.StoreT` is Comonad. Comonad has `cobindRightIdentity` law.

https://github.com/scalaz/scalaz/blob/v7.2.0/core/src/main/scala/scalaz/Comonad.scala#L21

[2016-02-05 19:06] xuwei-k opened #218 "java.util.NoSuchElementException: None.get"
https://github.com/scalaz/scalaz/pull/1095

[2016-02-05 22:40] rickynils commented on #218
Steps to reproduce:

[code]

Relevant output:

[code]

[2016-02-07 16:51] aappddeevv commented on #217
I'm getting error now as well. I have rebuilt. Using with scalatest 3.0.0-M15 on the jvm. Scalacheck 1.13.0. I commented out all my tests and its not related to any of the test per se. Here's my test class definition:

[code]

[2016-02-11 09:59] BardurArantsson commented on #199
Just to add a "me too": I'm a bit more fortunate in that I basically "just" need access to `State` in `run()`. One workaround I've found is to change your `Sut` to wrap the thing you're *really* testing and add methods/vars which will allow you to add code to your `run()` methods to manually track what you need for subsequent commands. This workaround is somewhat limited, though -- and tedious/err

[2016-02-11 10:58] alathon commented on #199
I'll try and cobble together a PR for this during the weekend, so it can be glossed over. It changes the signature of run() and nextState(), but should not change whether existing code works, once you've added those extra arguments to your methods.

[2016-02-12 13:27] ceedubs commented on #218
@non in #171 you mentioned that you were forced to use `Option.get`. Do you think this is related?

[2016-02-12 14:29] xuwei-k commented on #218
https://github.com/xuwei-k/scalacheck/commit/a6066af4447db679f33
https://github.com/xuwei-k/scalaz/commit/8b92943a435b6ea19901fa

https://travis-ci.org/xuwei-k/scalaz/builds/108790554#L4764

[code]

[2016-02-15 17:47] marcsaegesser opened #221 "Properties.overrideParameters doesn't do anything?"
Maybe I'm missing something but the `Properties.overrideParameters` method doesn't seem to actually do anything. The comment says it's supposed to override the test parameters for current Properties class but all it seems to do is return the value it's passed and it doesn't have any impact on the test parameters used by the tests.

[code]

[2016-02-16 15:45] rickynils commented on #221
I think the idea is that you override that function within your `Properties` instance, and return a modified version of the parameters that will be used when running the tests (for that property collection). The scaladocs are of course not telling you this :) So we can keep this issue open until the docs are fixed.

[2016-02-16 18:07] dnvriend commented on #217
I have the same problem:  `java.lang.IncompatibleClassChangeError`
setup 1: (problem) scala 2.11.7, sbt 0.13.9, scalatest 3.0.0-M15, scalacheck 1.13.0,
setup 2: (problem) scala 2.11.7, sbt 0.13.9, scalatest 2.2.6, scalacheck: 1.13.0
setup 3: (works): scala 2.11.7, sbt: 0.13.9, scalatest: 3.0.0-M15, scalacheck: 1.12.5
setup 4: (works): scala 2.11.7, sbt 0.13.9, scalatest 2.2.6, scalacheck 1.12.5

[2016-02-16 20:09] marcsaegesser commented on #221
Got it. Thanks.

[2016-02-21 10:16] dabd opened #223 "Testing timed automata"
Any suggestion on how to test a timed automaton with scalacheck?
Suppose you have FSM where some states have their own clock.  When you model this system with scalacheck you will end up having clocks in you model which are not in sync with the clocks in the SUT.

[2016-03-10 11:02] jarandaf commented on #120
+1

[2016-03-16 00:43] nykolaslima opened #224 "force sample to return Some(Value) instead of None"
I'm using Scalacheck to define objects that will be used in my unit tests.

[code]

the `listingGen.sample` could return `None`. How can I force scalacheck to return me `Some(Listing)`?

[2016-03-18 06:52] retronym opened #225 "Release against 2.12.0-M3-dc9effe"
Hi @rickynils!

As part of our 2.12 development, we're just about the switch to the [new encoding of traits](https://github.com/scala/scala/pull/5003) which is binary incompatible. To bootstrap our way through this change, we've released a Scala [version 2.12.0-M3-dc9effe](https://oss.sonatype.org/#nexus-search;gav~~~2.12.0-M3-dc9effe~~), which we will use as the new reference compiler until the r

[2016-03-18 17:08] dabd commented on #217
I am facing exactly the same problem as dnvriend.  Any solution for using the latest releases of scalatest and scalacheck?

[2016-03-19 22:46] rickynils commented on #225
@retronym The release should be up now!

[2016-03-19 22:46] #225 closed

[2016-03-20 02:23] retronym commented on #225
Thanks!

[2016-03-23 03:55] adelbertc opened #226 "Cogen[BigInt]"

[2016-03-25 17:53] fommil opened #227 "java 6 support"
I get this sort of error when running my tests, necessarily against java 6 because that is the official JDK for scala and we (ensime-server) are in the community build.

Workaround is to revert to 1.12.5

[code]

[2016-03-25 18:44] rickynils commented on #227
Hmm, which exact ScalaCheck version is this? As far as I can see, only the releases built for the Scala 1.12 milestones have been built with Java 8. The rest should be Java 6.

[2016-03-25 19:08] fommil commented on #227
1.13

[2016-03-25 19:25] rickynils commented on #227
Thanks, I'll look into that.

[2016-03-29 10:27] rickynils commented on #224
In the general case, you can't. ScalaCheck generators can fail, for instance if you're adding a filter (`listingGen.suchThat(...)`), and that failure is modeled with the `Option` type. However, if you're sure that your generator never will fail, you can simply call `Option.get` like you do in your example above. Or you can use `Option.getOrElse` to replace `None` with a default value.

If you know

[2016-03-31 09:37] howardlunatech commented on #120
+1

I'm tried to override the mainRunner of Properties trait, but the parameters are not changed as expected.  What's the correct way to achieve this?

[code]

[2016-04-03 20:04] nrinaudo opened #228 "Create arbTuple1"
I know this sounds silly, but I have some tests which run for any arity of tuples, including 1, and it was surprising to find that, given `A: Arbitrary`, there was no implicit `Arbitrary[Tuple1[A]]`.

I'd be happy to contribute the one-liner if there's any interest in having that be part of scalacheck.

[2016-04-04 09:37] xuwei-k commented on #228
https://github.com/rickynils/scalacheck/blob/1.13.0/src/main/scala/org/scalacheck/ArbitraryArities.scala#L102-L108 ?

[2016-04-05 11:00] nrinaudo commented on #228
Ah. I'm still on 1.12.5, which doesn't have it, and I didn't realise it was implemented for 1.13.0. My apologies.

[2016-04-05 11:00] #228 closed

[2016-04-07 12:59] rickynils opened #230 "Compilation errors with Scala 1.12.0-M4"
Compiling ScalaCheck 1.13.0 with Scala 1.12.0-M4 results in a lot of errors like these:

[code]

These errors are introduced by M4, compilation with M3 works fine. Additionally, M4 works fine with ScalaCheck 1.11 and 1.12.

[2016-04-07 13:11] dwijnand commented on #230
Ouch. The 2.12.x community build has scalacheck pinned at 1.11.6: https://github.com/scala/community-builds/blame/2.12.x/common.conf#L66

[2016-04-07 13:20] xuwei-k commented on #230
`Cogen` is SAM (single abstract method) type, and there are some overload methods.

[code]

https://github.com/rickynils/scalacheck/blob/1.13.0/src/main/scala/org/scalacheck/Cogen.scala

[2016-04-07 13:35] xuwei-k commented on #230
similar discussion? https://github.com/scala/scala/pull/4971#issuecomment-202977627

[2016-04-07 20:15] SethTisue commented on #230
attn @adriaanm, here's another example of overloading trouble involving SAM support

[2016-04-07 21:04] adriaanm commented on #230
That's a fun one! The smallest source-compatible hack I can think of is `def apply[T](implicit ev1: Cogen[T], ev2: Cogen[T]): Cogen[T] = ev1`... Don't tell anyone I recommended that, though :sunglasses:

Sadly, I don't see how we can improve overload resolution to fix this without pushing it over the complexity brink that it's teetering.

[2016-04-08 01:30] rickynils commented on #230
@adriaanm So ScalaCheck follows its tradition of torturing scalac... The workaround works, but I guess I must either bump the ScalaCheck version or create a separate branch for M4.

[2016-04-08 12:03] dabd opened #231 "Gitter channel for scalacheck?"
It would be nice to have a gitter channel for scalacheck!

[2016-04-08 16:17] dabd opened #232 "Stack overflow caused by generator"
The following generator causes a stack overflow error:

`def bigDecimalGen(lower: BigDecimal = BigDecimal(0), upper: BigDecimal = BigDecimal("999999999999"), withDecimals: Boolean = true): Gen[BigDecimal] =
  for {
    i <- arbBigInt.arbitrary.retryUntil(x => x >= lower.toBigInt && x <= upper.toBigInt)
    d <- if (withDecimals) Gen.chooseNum(0, 99) else Gen.const(0)
  } yield {
    BigDecimal(s"$

[2016-04-08 19:59] alexandrnikitin opened #233 "Properties.overrideParameters isn't called when executed via ScalaCheckRunner"

[2016-04-11 10:23] xuwei-k commented on #190
[code]

if `A = Int`, `B = Int` ↓

[code]

if `type F[a] = Store[Int, a]`  ↓

[code]

`Store[Int, a]` is identical to `Tuple2[Int => a, Int]` ↓

[code]

so I need `Cogen[Int => a]` when I want to `Tuple2[Int => a, Int] => Int`.

FYI:
- scalaprops https://github.com/scalaprops/scalaprops/blob/v0.3.1/gen/src/main/scala/scalaprops/Cogen.scala#L32-L36
- quickcheck https://github.com/nick8325/quickchec

[2016-04-12 07:18] xuwei-k opened #235 "release scalacheck_sjs0.6_2.12.0-M4"

[2016-04-14 08:22] sjrd commented on #230
You can make it both source-compatible and binary compatible like this:
[code]

[2016-04-14 14:32] rickynils commented on #227
@fommil Could you provide instructions for reproducing this? I have tried using ScalaCheck 1.13.0 (for Scala 2.11) in a simple project, with various versions of the oracle jdk (6,7,8) and setting different jvm targets (jvm-6, jvm-7, jvm-8). I can't seem to trigger the exception you get.

[2016-04-14 14:51] fommil commented on #227
sure, just check out ensime-server and upgrade scalacheck to the latest version, then run `sbt test` (probably just `sbt s-express/test` would be enough) and you should see the exceptions.

[2016-04-14 17:31] rickynils commented on #227
This is not a java 6 problem. This is caused by ScalaTest not being compatible with ScalaCheck 1.13, which makes this issue a duplicate of #217. I'll continue discussion in that issue...

[2016-04-14 17:31] #227 closed

[2016-04-14 17:39] rickynils commented on #217
All current releases of ScalaTest (2.2.6, 3.0.0 etc) are built against ScalaCheck 1.12.1 (see https://github.com/scalatest/scalatest/blob/master/project/scalatest.scala#L134). Therefore, there are no guarantees that you can simply swap out ScalaCheck 1.12.x for 1.13.y. ScalaCheck only maintains binary compatibility within the same minor version series (1.12.1, 1.12.2, 1.12.3 etc).

I don't know if

[2016-04-14 17:39] #217 closed

[2016-04-14 17:39] rickynils commented on #217
cc @fommil

[2016-04-14 18:38] rickynils commented on #230
I've implemented the workaround so master now builds with Scala 2.12.0-M4. I've also released a new version of ScalaCheck (1.13.1, both JVM and JS versions), built with Scala 2.10, 2.11 and 2.12-M4.

[2016-04-14 18:38] #230 closed

[2016-04-14 18:39] rickynils commented on #235
I've now released ScalaCheck 1.13.1, both JVM and JS versions. Built with Scala 2.10, 2.11 and 2.12.0-M4.

[2016-04-14 18:39] #235 closed

[2016-04-14 18:51] fommil commented on #217
Ah.

[2016-04-15 01:48] xuwei-k commented on #235
Could you please release `"scalacheck_sjs0.6_2.12.0-M4" % "1.12.5"` ?

[2016-04-15 08:54] rickynils commented on #235
@xuwei-k Done. Should be on its way to Maven now. Thanks for reminding me!

[2016-04-18 16:33] markehammons opened #237 "Shrinking ignores valid input specified via Gen and uses values outside of the test case!!"
I'm trying to test a class with scalacheck using the following properties:
[code]

The test keeps failing because for some reason 0 is chosen as a value for step even though my arbitrary declaration explicitly forbids 0 as a valid input (a 0 step on a range makes for an infinite range). Why is this happening, and how can I avoid this problem in the future?

### error text:
[code]

### edit:

This

[2016-04-18 17:58] ceedubs commented on #237
Did you mean for `Prop.forAll(rangeGenDouble)` to be `Prop.forAll(rangeGenInt)`?

[2016-04-18 17:59] ceedubs commented on #237
Separately, you might want to change your generator to not use `Arbitrary.arbitrary[Int].suchThat`. This will likely generate a lot of ints outside the desired range and then discard them, which will slow your tests down a lot (and may end up producing errors about discarding too many values). When possible, it's usually best to make the generator produce values within the desired range without de

[2016-04-18 18:53] markehammons commented on #237
@ceedubs: I copied the wrong bit of code, copied the right one and double checked that I'm still having the trouble.

I've tried using Gen.choose, but I get the same results:

[code]

As you can see the requirement failing is "step != 0". I specifically set step to be between (math.abs(high-low)/10) +  1, which should mean the bottom bound to choose from is > 0, but it keeps choosing 0 as a valid

[2016-04-18 19:14] markehammons commented on #237
I changed my code to use ```Gen.oneOf(((math.abs(high-low)/10) + 1) until (math.abs((high - low)/2) + 1))``` and added some println statements to see what was being generated and chosen. The generator generates proper values but still puts 0 as an argument sometimes!?

[code]

[2016-04-19 13:36] markehammons commented on #237
Using ==> to make sure step, low, and high are all valid helps a ton. So it turns out this code of mine had an error, I should have compared two sets, instead of two lists since the range function and my parser creates the same values, but not in exactly the same order (which I don't really care about). The above test works when I switch to sets even when I eliminate the ==> operator.

[2016-04-28 10:15] ljwagerfield opened #238 "Incorrect SHA1 checksum for shapeless-scalacheck_2.10-0.4.pom"
The SHA1 checksum specified by the following file is incorrect:

http://uk.maven.org/maven2/org/typelevel/shapeless-scalacheck_2.10/0.4/shapeless-scalacheck_2.10-0.4.pom.sha1  `46122081f57e487d6860da547ec9951393149e0e`

However, the actual checksum of the `.pom` file is `e5dfca32ebcee949c030d0d11c94406c095e4cfb`

This results in the following error:
[code]

[2016-04-28 10:19] xuwei-k commented on #238
You should report to https://github.com/typelevel/shapeless-contrib

[2016-04-28 10:41] ljwagerfield commented on #238
Thank you, have raised here: https://github.com/typelevel/shapeless-contrib/issues/37

[2016-04-28 10:41] #238 closed

[2016-05-04 09:33] rickynils commented on #237
@markehammons Yeah, as you've noticed, the shrinker is not perfect. It can come up with values outside the original range of generated, because the the generators and shrinkers are not aware of each other. The shrinker only looks at the type of the generated value when it decides on how to simplify it. This is an implementation limitation that hopefully will be solved in a future version of ScalaC

[2016-05-04 09:33] #237 closed

[2016-05-04 09:59] rickynils commented on #218
cc @non

A minimal way of reproducing this exception:

[code]

So, if an arbitrary generator of the function's target type fails generating a value, this exception will be triggered. It is not obvious how we could work around this in the general case as long as generator results are modeled with the `Option` type. I think @tonymorris actually reached the same conclusion a long time ago.

[2016-05-04 15:00] jubobs opened #239 "Provide Gen and Arbitrary instances of classes from java.time"
According to the [official roadmap](http://www.scala-lang.org/news/2.12-roadmap/), Scala 2.12 will require Java 8, which brought us the [`java.time`](https://docs.oracle.com/javase/8/docs/api/java/time/package-summary.html) library. A future version of ScalaCheck, when migrating to Scala 2.12, should see the addition of `Gen` and `Arbitrary` instances for classes defined in the `java.time` package

[2016-05-05 18:10] jsdt opened #240 "Properties.scala can exit with code 0 despite failed test cases"
System.exit is [called](https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Properties.scala#L74) with the number of failed test cases, but the exit code of the process will be that number modulo 256 (see [here](http://tldp.org/LDP/abs/html/exitcodes.html)). If the number of failures is divisible by 256, the exit code will not indicate an error.

[2016-05-10 16:40] non commented on #218
@rickynils I agree that using `Option` is unfortunate but QuickCheck has a similar issue despite using exceptions instead. [1] [2]

I have a branch where I removed `Option` / `filter` to see if that fixed this issue, but it seemed like the real problem (at least in this case) was that `Gen.fail` instances were being produced during shrinking. I think that if we stop doing that we'll fix most of th

[2016-05-17 13:55] andriichuk commented on #173
Hi, @rickynils.

Unfortunately I experience the `Invalid ScalaCheck args` error even on `1.13.0`.

I use the following command:
```sbt "test-only com.xxx.DosageLettersTest -- -DmongoHost=localhost -DpgHost=localhost"```

Do I do something wrong?

[2016-05-21 14:27] InTheNow commented on #218
Hi All - I would really love to help out on this, but.... Anyway, any progress on this, as a fix for this would be useful to get into scalatest 3.0.0 release?

[2016-05-23 13:44] k0ala commented on #185
I also observe this with version 1.12.5

[2016-05-31 08:31] julien-truffaut opened #241 "scala.js referring to non-existent method java.lang.Float$.floatToRawIntBits"
I encountered the following error when I tried to upgrade to scalacheck 1.13.1

[code]

[2016-05-31 08:39] xuwei-k commented on #239
FYI https://github.com/scalaz/scalaz/blob/v7.3.0-M2/tests/src/test/scala/scalaz/std/java/TimeTest.scala#L17-L51

[2016-05-31 08:41] xuwei-k commented on #241
https://github.com/scala-js/scala-js/issues/2327

[2016-05-31 08:57] julien-truffaut commented on #241
Thanks @xuwei-k for the reference. Do you think it would be acceptable to replace:
- `floatToRawIntBits` by `floatToIntBits`
- `doubleToRawLongBits` by `doubleToLongBits`

Or is it best to use raw methods specifically for the jvm and non raw methods for scala.js?

[2016-06-03 10:14] phipsgabler opened #243 "Arbitrary instance for Symbol"
Is there a specific reason that there is no default `Arbitrary` instance for `Symbol`? If not, could you just add something along the lines of

[code]

?

[2016-06-03 14:16] danielkarch opened #244 "Simple check leads to infinite loop"
Hi,

I just started playing around with ScalaCheck and encountered a problem. The following does not terminate on my machine with ScalaCheck 1.13.[0|1]:

[code]

With version 1.12.5, a counter-example is produced quickly. With the newer versions, it gets stuck in an infinite loop. I tried to debug it and it seems like once ScalaCheck has found a counter-example, it is trying to shrink it. The shri

[2016-06-04 16:32] InTheNow commented on #195
@rickynils Am I right in saying that this is fully covered by 1.3.x? If, so this can now be closed.

[2016-06-09 10:05] muhuk opened #246 "arbBigDecimal causing Underflow (ArithmeticException)"
Sorry for the sloppy report. I'll flesh it out later once I find the time.

I am consistently getting failures like this:

    ArithmeticException was thrown during property evaluation.
      Message: Underflow
      Occurred when passed generated values (

      )

(Note that `generated values` is empty.)

I can run my tests if I replace this expression:

    Arbitrary.arbBigDecimal.arbitrary

Wi

[2016-06-22 14:22] lunaryorn opened #247 "Arbitrary instance for Char"
I'd like to generate non-BMP strings with scalacheck, essentially to check whether our code base copes with emojis and all sorts of other strange unicode chars users might enter on their phones.

I tried to figure out whether scalacheck might already have be covered here, and came across the current Arbitrary[Char] instance which looks rather… sophisticated:

[code]

What's the reason for "Gen.fre

[2016-06-25 01:38] aishfenton commented on #172
@rickynils what is the suggested way to make a container of exactly size N? (I'm running into #89 since I'm creating a 2-dim array, and I can't have it being jagged).

[2016-06-25 21:27] rickynils commented on #172
@aishfenton What kind of containers are you generating? For arrays and lists, `Gen.containerOfN` should work perfectly fine. How is #89 affecting you?

[2016-06-25 21:58] aishfenton commented on #172
Ahh I think it maybe due to shrinking (which I'm only now understanding).

I am trying to generate a square array

[code]

But I'm getting different sizes for inner and outer when I use it with forall(outer) (in Scalatest). But don't see any problems sampling from outer directly (in the console). So I assume shrinking is causing the problem?

[2016-06-27 02:38] aishfenton commented on #172
Ok. Found this works. Required bit I was missing was *suchThat*.

[code]

But it doesn't work if I use a for comprehension?

[code]

Probably totally obvious to those in the know, but I'm still a little mystified.

[2016-06-30 14:30] #241 closed

[2016-06-30 14:34] #233 closed

[2016-07-01 11:51] muhuk commented on #177
I am getting NPE with the following generator:

[code]

(Both using `1.12.5` & `1.13.1`)

If I remove the `const` one, the problem disappears. If I replicate `genLiteralType`'s list and add `SymbolType` (i.e. use just a `Gen.oneOf`) the problem disappears.

Changing the order of `const` doesn't make a difference.

[2016-07-02 02:22] non commented on #218
Sorry for the long radio silence.

I have thought I understood what was causing this particular crash several times. In fact, it's possible to fix @xuwei-k's branch with the following patch:

[code]

[2016-07-02 02:24] non commented on #218
I'm working on a patch to ScalaCheck to make this issue harder to hit. As @rickynils says, anytime someone is using `Gen.fail` to build a `Cogen` there will be major problems. The big issue here is that it's very easy to misuse `Choose` or size parameters to create failed generators.

The PR I'm working on is going to try to make invalid sizes and ranges throw errors, which makes it a lot easier t

[2016-07-02 02:41] non commented on #218
We could also choose to return `Option[Gen[A]]` instead of throwing an exception. Either way, we will need to try to explicitly signal failure, rather than encoding it using things like `Gen.fail`.

[2016-07-07 09:06] phipsgabler commented on #247
I'm not a developer of this, but the range 0xD800 to 0xDFFF are the [surrogate characters](https://en.wikipedia.org/wiki/Universal_Character_Set_characters#Surrogates), used to encode chars outside of the BMP. Since these only make sense in pairs (high + low), generating them individually seems of no use (according to the link, "isolated surrogate code points have no general interpretation").

The

[2016-07-07 13:13] lunaryorn commented on #247
@phipsgabler Thanks, that's very enlightening.  :+1: :clap:

[2016-07-08 15:08] julien-truffaut opened #250 "Release 1.13.2"
Would it be possible to get a patch release with recent changes? I am particularly interested by https://github.com/rickynils/scalacheck/pull/242

[2016-07-08 15:22] rickynils commented on #250
Sure, I'll try to get that done tomorrow...

[2016-07-08 15:48] julien-truffaut commented on #250
Thanks!

[2016-07-11 11:37] #250 closed

[2016-07-11 11:55] rickynils commented on #250
@julien-truffaut 1.13.2 should be available now!

[2016-07-16 11:26] julien-truffaut commented on #250
@rickynils awesome it works!

[2016-07-20 21:04] dportabella commented on #217
The ScalaTest documentation has at least two pages that explain how to use ScalaCheck:
http://www.scalatest.org/user_guide/generator_driven_property_checks
http://www.scalatest.org/user_guide/writing_scalacheck_style_properties

It would be good to mention this version requirement in this documentation.

[2016-07-26 01:46] mpilquist commented on #214
I'm also very interested in this -- we need it for Scala.js testing in https://github.com/functional-streams-for-scala/fs2.

[2016-08-15 17:47] cokleisli opened #253 "Generators in a for-expression not working as expected"
The following generators should only produce values greater than 0. However, as can be seen the output, this is not the case. Is this a bug?

  implicit lazy val genUnequalIntPairs = for {
    i <- Gen.choose(1,1000)
    j <- Gen.choose(1,1000)
    if (i < j)
  } yield (i,j)

  val kk = Prop.forAll (genUnequalIntPairs)  {
    case (x,y) => {
      println("x =" + x + ", y =" + y)
      x == y

[2016-08-16 02:52] nsengupta commented on #253
Application of suchThat doesn't work:
[code]

This is one random output.

[code]

[2016-08-16 02:56] nsengupta commented on #253
Moving to Scalacheck 1.13.1 (earlier examples ran under Scalacheck 1.12.x), the observations are:
implicit lazy val genUnequalIntPairs = for {
      i <- Gen.choose(1,1000)
      j <- Gen.choose(1,1000)
      if (i < j)
    } yield {
      (i,j)
    }

    val kk = forAll(genUnequalIntPairs)  {
      case (x,y) => println("x =" + x + ", y =" + y)
        x < y
    }

    kk.check

produces
x =56,

[2016-08-16 06:34] rickynils commented on #253
Your property fails, since `x != y`. ScalaCheck then tries to shrink the failing test case. That is why you get `(0,1)` (the minimal case that makes your property fail). You can see that ScalaCheck presents both the first failure and the minimal one.

If you fix your property so it doesn't fail, this "problem" will go away.

[2016-08-16 06:35] #253 closed

[2016-08-17 14:58] scr opened #254 "Properties no longer extends Prop; there is no straightforward way to check all of a Properties group pass"
commit 3bec4b1e79f6afd07b8baa3fffa6ecc9acb7a061 removed `Properties`' subclassing of `Prop`.  This means it's not possible to call `check(myProperties)`.

calling check() on a properties object writes to stderr; doesn't return the result.

This makes it less useable for testing as it's not straightforward to check all properties from a test case.

[2016-08-18 17:54] rickynils commented on #254
There's `org.scalacheck.Test.checkProperties` you can use for this. It's possible that it could be better documented.

[2016-08-19 22:37] scr commented on #254
scalatest has a nice check() method - is there a nice way convert/wrap a Properties in a Prop that checks all properties in the group?  What was the compelling reason to make Properties stop inheriting from Prop?

[2016-08-20 06:45] rickynils commented on #254
I believe the change was made to satisfy ScalaJS compatibility.

Can you detail your use case a bit? Why is checkProperties not working out for you?

You can use Prop.all to combine several properties into one, and that was how Properties was converted to Prop before 3bec4b1e79f6afd07b8baa3fffa6ecc9acb7a061. You can use that method, but I fear property failures could be presented in a slightly con

[2016-08-22 09:47] sirthias commented on #67
My upgrade from 1.12.5 to 1.13 is currently blocked by the removal of the `rng` member on `Parameters` which I've been using to hack myself into being able to re-run tests with identical seeds.
With the 1.13 API I currently don't see how "repeatable" tests are meant to work, which were mentioned as a goal in this ticket description.

How can I manually supply the RNG seed when running a test?

[2016-08-22 18:02] wpoosanguansit opened #255 "What implicits are needed for (Gen.oneOf("a", "b") |@| Gen.oneOf("a", "b"))(_+_)?"
I do have an error stating that |@| is not a member of Arbitrary.   Thanks for any direction or hint as to what to import.  Appreciate your help.

[2016-08-26 13:11] ostronom opened #256 "Gen.listOfN refuses to generate stuff"
[code]

What is wrong with my code? It works well for all n up to 255. As far as i know, Int can be greater than 255..

[2016-09-04 04:41] non commented on #256
@ostronom The issue here is your use of `.filter`. Following the chain of calls, we can see:

 - `Gen.listOfN`
 - `Gen.buildableOfN`
 - `Gen.sequence`

The documentation for sequence says:

In my tests, about 3.5% of the characters generated in `unicodeChar` will fail to be valid. This means that for each additional character you try to add to a list, you have an additional 3.5% chance of failure.

[2016-09-04 04:51] non commented on #218
I think this particular issue will be fixed by #258. The buggy generator in question would now crash earlier and signal to the author that there was a problem.

[2016-09-04 22:39] non commented on #243
Unfortunately the obvious way to add this implicit breaks binary compatibility (according to MiMA). We could probably work around this by adding a new trait for `object Arbitrary` to extend, but I'll wait until I hear from @rickynils about if (or when) he wants to add this implicit and how.

[2016-09-05 18:25] rickynils commented on #255
@wpoosanguansit I don't know what `|@|` is. It is not part of ScalaCheck.

[2016-09-05 18:42] wpoosanguansit commented on #255
Seems like this is not relevant.  It's from applicative in cats.  Thanks.

[2016-09-05 18:42] #255 closed

[2016-09-06 15:13] alxest opened #260 "Gen.choose not working as expected"
In below code, I expect x and y to pass assertion, but it fails. (x and y chosen from [0,8])
Is this intended behavior?
[code]
Replacing
[code]
into
[code]
makes assertion pass.
I am using scala 2.12.8 and I uploaded the code [here](https://github.com/alxest/scalacheck_question/blob/master/src/test/scala/test.scala). It should be reproducible.

[2016-09-06 20:34] non commented on #260
Can you paste the output from the failing test/assertion?

[2016-09-06 20:48] non commented on #67
@sirthias I'll look into this for you -- it may require an addition to the API.

[2016-09-06 20:50] sirthias commented on #67
Thanks, Erik!

[2016-09-06 22:01] #226 closed

[2016-09-06 22:14] non commented on #246
@muhuk Can you paste a bit more about this error? I'm not sure how to reproduce (and fix) this issue otherwise.

[2016-09-06 22:54] non commented on #67
@sirthias If `Gen.Parameters` had:

[code]

...and it used those as the "initial seed" when set, do you think that would be sufficient for your purposes?

[2016-09-07 07:08] muhuk commented on #246
Here is a complete test:

[code]

I am using:

- scala 2.11.8
- scalatest 2.2.6
- scalacheck 1.13.2

Any other specifics I can provide?

[2016-09-07 11:40] non commented on #246
That's great, thanks!

[2016-09-07 11:49] muhuk commented on #246
You're welcome.

[2016-09-08 07:36] rickynils commented on #260
Your implementation (or property) seems to be wrong. See:

[code]

So, ScalaCheck correctly falsifies your property since `pascal1(8,7) != pascal2(8,7)`.

[2016-09-08 13:11] alxest commented on #260
Yes, that is true.
What I was curious was why {0,7} and {0,0} is tested after that, even though I have chosen {x,y} from [5, 8] x [5, 8].
[code]
Is this intended behavior?
If so, I want to know more about the idea behind it. Is there written documentation about it?

[2016-09-09 05:40] alxest commented on #260
@non
Ah... Thanks for your reply. I might use *forAllNoShrink*.
I think it would be greater for user if test case minimaziton respects the *chosen* bound. (I am not sure if its implementation is easy or hard) Or if user can pass some valuation function (test input domain -> double) so that shrinking tries to find test data with maximized valuation.

[2016-09-09 05:40] alxest commented on #260
I will close this issue, again thanks all!

[2016-09-09 05:41] #260 closed

[2016-09-10 13:15] sirthias commented on #67
Thanks, Erik, for this suggestion (and sorry for my vacation-related delay in responding)!
I think this API addition would totally suffice for my purposes.

However, why would the `initialSeed` need to be an `Option`. Wouldn't it be cleaner if the `initialSeed` would always be (randomly) set right after creation and I, as a user, would simply have the option of setting it to a known value before k

[2016-09-10 14:36] non commented on #67
@sirthias I'll push a branch with this design (and some tests proving the initial seed is working) so we can comment on something concrete.

I think this design is a bit easier to use (at least internally) because it's important that the *initial seed* be used (if present at the top-level) but ignored otherwise. If the value was not of type `Option` then I think I'd need some other mechanism for s

[2016-09-10 20:59] sirthias commented on #67
Ok, I see.
For sure I don't know my way around the scalacheck internals as well as you do, so I completely trust your instincts here.
Thanks again for picking this up!

[2016-09-10 21:01] non commented on #67
Hey @sirthias, I just pushed: https://github.com/rickynils/scalacheck/pull/263.

Take a look and let me know if you think it will work for you. If not I'm happy to make modifications as needed.

[2016-09-17 11:24] dwijnand commented on #185
People interested in this bug might want to see if sbt 0.13.13-RC1 fixes it for them: https://github.com/sbt/sbt/pull/2730

[2016-09-17 19:41] informarte opened #265 "Inconsistent license information"
http://www.scalacheck.org/download.html states that ScalaCheck is relased under the 3-clause BSD license, but the file LICENSE does not contain the pure BSD 3-clause license: its first paragraph was taken from the ISC license. The resulting license may be equivalent to the original BSD 3-clause license but who knows ... Anyway, the webpage and the repository are inconsistent with regard to license

[2016-09-22 19:30] dwijnand commented on #231
A gitter channel for asking questions would be wonderful.

[2016-09-23 12:44] yaravind commented on #137
I was looking for this functionality (generated data based on reference data). However, is it possible to avoid duplicates during the data generation? I.e. the Gens should always return distinct items

[2016-09-27 02:30] ssanj opened #269 "posNum throws an IllegalBoundsError in 1.13.3-SNAPSHOT"
If I run the following on scalacheck 1.13.2:

[code]

I get:

But with the 1.13.3-SNAPSHOT, I get:

  low=1, high=0

Has some functionality changed around this area? Or am I incorrectly using posNum?

[2016-09-27 02:55] non commented on #269
@ssanj Yes! Thanks for the bug report. I think I see what's going on.

[2016-09-27 21:31] #269 closed

[2016-09-29 00:13] ssanj commented on #231
Yes! :+1:

[2016-10-13 14:51] matthewdooler opened #274 "Is Gen.chooseNum excluding part of the valid range of doubles?"
Hi,

I'm using `Gen.chooseNum(Double.MinValue, Double.MaxValue)` in a generator, but it's causing the generator to fail at a high rate. Checking the source for chooseNum, it seems like `chDbl` is excluding doubles below zero in this line:
`if (d < 0 || d > Double.MaxValue) r(None)`

I think this is causing the high failure rate as it will try generating positive and negative numbers but filter out

[2016-10-16 13:43] non commented on #274
This sounds like an issue. I'll take a look, thanks!

[2016-10-16 19:18] non commented on #274
@matthewdooler Which version of ScalaCheck are you using? This code changed recently and it seems to be working for me on *master*. Here's the test I used:

[code]

Please let me know if you can confirm that this is still broken (or works for you) on the newest release and/or master.

[2016-10-16 19:20] non commented on #256
@ostronom Does this make sense to you? It seems like we can close this issue, what do you think?

[2016-10-17 03:25] non commented on #246
@muhuk So my sense is that the `Gen[BigDecimal]` instances ScalaCheck uses right now are basically busted. They generate numbers so big that it's really difficult to do anything with them. For example, it's not clear what anyone is going to do with `9E+1054820097`.

What's worse is that the default generic shrinking code will naïvely divide by 2 to make the numbers small enough to work with. Tryin

[2016-10-17 03:27] non commented on #246
(The subtext here is that when I tried to run the given example I didn't get an underflow, but my code just hung.)

[2016-10-17 06:45] muhuk commented on #246
This is interesting, because I've run it a few times and it underflowed every time, without hangs.

[2016-10-17 09:12] #244 closed

[2016-10-17 10:47] matthewdooler commented on #274
Thanks for checking. We're on 1.12.5 which is quite old, but all our property tests fail if we try upgrading to 1.13.2:

[code]

That's another problem though (probably some sort of conflict with other dependencies, or scala version) so unless the cause is immediately obvious I'm happy for this to be closed since you're confident master works!

[2016-10-17 11:52] non commented on #247
Is this issue solved? Mind if we close this @lunaryorn?

For reference, here's a generator that can choose any 16-bit unsigned character value:

[code]

This can be passed directly to `forAll` or wrapped in `Arbitrary(...)` to produce an `Arbitrary[Char]` value.

[2016-10-17 12:28] non commented on #232
So this is pretty easy to fix. The real issue here is that the `Gen[BigInt]` in question is very unlikely to generate values in the 200-300 range. (For example, when I tested the "fix" to this bug it ran for over 33 million iterations without generating a value in this range.)

I agree that a `StackOverflowException` is pretty unfriendly. However, I don't think users will be happier to have code t

[2016-10-17 12:30] non commented on #190
This was fixed in #259.

[2016-10-17 12:39] lunaryorn commented on #247
Oh yes, of course, closing right away.

[2016-10-17 12:39] #247 closed

[2016-10-17 12:41] lunaryorn commented on #247
Sorry :blush: I meant to close it right after the explanation, but apparently pressed the wrong button… I'm constantly confusing them 😕

[2016-10-17 13:10] #240 closed

[2016-10-17 13:46] non opened #280 "Add new Gen/Arbitrary instances"
Currently adding these breaks binary compatibility. This issue is intended to catalogue all the additional instances we want to add (`Gen`, `Cogen`, and `Arbitrary`).

We should also change the trait containing these instances to an `abstract class`. This way future additions won't create binary incompatibilities.

Here are the instances I can think of:
- [ ] `Function0` instances (#277)
- [ ] `Sy

[2016-10-17 13:48] adamgfraser commented on #280
I was thinking of adding a Gen instance for infinite streams. Would there be interest in that?

[2016-10-17 14:00] non commented on #280
@adamgfraser Sure, I think a `Gen.infiniteStream[A]` would be really useful.

[2016-10-17 15:15] non commented on #274
OK yeah, those issues probably stem from the fact that 1.13.2 isn't binary compatible with 1.12.5, meaning any code compiled against the old version will need to be recompiled/republished for your project.

Good luck! I'm fine with leaving this open until you can confirm the fix, but I'm also fine with closing it and reopening it if you later notice problems on the newer version.

[2016-10-17 15:19] non commented on #246
Hm, strange. Do you think you could arrange to catch the exception and print a stack trace? I'm happy to take a look at that, I just can't seem to produce one myself.

[2016-10-17 15:20] non commented on #231
This seems like a good idea. What do you think @rickynils? It should be quite easy for a project owner to set one up (and you wouldn't have to actually visit it if you didn't want to).

[2016-10-17 15:22] non commented on #195
Yes, I think the 1.13.x releases address this issue, and it can be closed.

[2016-10-17 20:07] adamgfraser commented on #231
👍

[2016-10-18 09:52] muhuk commented on #246
I've let it run for 9 minutes, it hangs as you say.

Here's the entire output:

    Run starting. Expected test count is: 1
    ArbBigDecimalUnderflow:

My guess is it's a difference between JRE's or something like that.

[2016-10-18 14:19] non commented on #246
I'm going to open an issue around creating more reasonable `BigDecimal` values, and link it with this one.

[2016-10-18 15:52] matthewdooler commented on #274
I tried recompiling from scratch but no luck, so we'll have to find some time to have a proper look. I'll close this and reopen if we discover the bug still exists in the latest version :)

[2016-10-18 15:52] #274 closed

[2016-10-18 17:39] muhuk commented on #246
Thanks @non . Since neither of us can reproduce it now, I'm closing this.

[2016-10-18 17:39] #246 closed

[2016-10-19 18:31] adamgfraser commented on #280
Would people be interested in a `Gen.bigList` instance? I'm thinking that sometimes it can be valuable to generate a random large collection to check the stack safety of a method. You can already do this today with something like `Gen.listofN(10000, arbitrary[A])` but thought it might be a nice convenience to have a generator that produced a mix of normal lists, really big lists, and empty lists s

[2016-10-19 18:41] non commented on #280
Personally I feel like it's easy enough to use `listOfN` here. I could also imagine someone else publishing a third-party library with a bunch of extra handy `Gen` instances/builders.

[2016-10-20 05:47] xuwei-k commented on #190
Thanks! 😃

[2016-10-20 05:47] #190 closed

[2016-10-21 12:38] ceedubs opened #285 "Inconsistent use of seed.next in Cogen instances"
The `Cogen` instances for `Option` and `Either` both use `seed.next` as an argument to `perturb` when they are delegating through to an underlying `Cogen` instance. See [here](https://github.com/rickynils/scalacheck/blob/3f436ffa218329858d6374cb0f7816a1d21588d9/src/main/scala/org/scalacheck/Cogen.scala#L106-L110).

It seems to me that there is inconsistent behavior here. For example, the `Either`

[2016-10-21 13:15] adamgfraser commented on #285
@ceedubs I think the call to `seed.next` in either is necessary. The way to think about it is that a Cogen needs to produce a new seed given an input with the properties that the seed is the same if the inputs are the same and is different if the inputs are different. The issue with removing the call to `seed.next` on Left is that then `Left(0)` and `Right(0)` would generate the same seed even tho

[2016-10-21 14:06] ceedubs commented on #285
@adamgfraser thanks for the explanation; that's really helpful.

I think that it steers me into a different conclusion than the one that you have presented. Given that, it seems to me like the `Cogen` instance for `Option` should be able to distinguish between something like `None` and `Some(())` in the case of `Option[Unit]`. Similarly it seems like `Try[Throwable]` should be able to distinguish

[2016-10-21 14:42] adamgfraser commented on #285
@ceedubs I think that makes sense.

In the case of `Option` I don't think `None` and `Some(())` would return the same result because the folding in the `None` case would return the seed unchanged whereas folding in the `Some` case would reseed the seed with a value of 0L. But I think you are definitely right about `Try`. I guess I was thinking about that as a weird corner case because the whole po

[2016-10-21 14:50] non commented on #285
I agree with @ceedubs -- `Try` needs to be differentiating the `Success(_)` and `Failure(_)` cases (i.e. for `Try[Throwable]` it means that `Success(e)` and `Failure(e)` result in different seeds).

I agree the `seed.next` is a little bit confusing. Another way to think about this is that we need to reseed with 1-bit of extra information to differentiate a disjunction of two things. Calling `seed.

[2016-10-21 15:12] ceedubs commented on #285
@non yeah, thanks that makes sense to me. At least conceptually -- I won't claim to understand subtle implications that there might be between calling `next` and `reseed`.

Do you think we should go ahead and make this change to `Either`? And do you think that `Option` needs to change or not? I'm happy to submit a PR (probably tonight or this weekend).

[2016-10-21 15:27] non commented on #285
So for now I would stick with the strategy of using `.next` and just fix `Cogen[Try]`.

In the long-run it may make sense to move to using `.reseed` instead, but I'd rather think about that change a bit more first.

[2016-10-24 09:20] #285 closed

[2016-10-24 15:37] non commented on #280
@rickynils I just noticed many of the binary-incompatible PRs got merged. Does this mean *master* is ready for these kinds of changes?

[2016-10-24 16:34] rickynils commented on #280
@non Yes, master is bumped to 1.14 so we can bring on those changes. However, we should also think about what to do with this feedback: https://twitter.com/extempore2/status/788984845913337856

[2016-10-24 16:41] non commented on #280
OK, yeah. I'll give it some thought.

[2016-10-25 08:49] JBlundell opened #288 "SBT test runner incorrectly running 'successful' Properties in Play project"
Hi,

I have a problem that I've been struggling with for a while so my last port of call is to raise an issue here. My Play project has a Properties test (with two properties in) by which I use sbt to run the test. If the second/last property fails then then the command will rightly be unsuccessful. However, if only the first property in my test fails then the sbt command is still 'successful'. It

[2016-10-25 14:54] non commented on #288
So just to be clear, if you use 1.12.2 then things are OK? But with 1.12.3 this issue appears?

[2016-10-25 15:18] JBlundell commented on #288
Yeah that's correct.

[2016-10-25 18:38] non commented on #288
Thanks for reporting this. I'll try to take a look soon and see if I can figure out what is going on.

[2016-10-26 09:08] JBlundell commented on #288
No problem. Cheers for getting back to me.

Just to add - when I referred to it working when removing PlayScala plugin, I had to move the test from /test to /src/test/scala as it would be a standard sbt project without the Play plugin. ( (Of course out of desperation I tried to place the test in this location with the plugin enabled but it still didn't work).

[2016-10-27 12:01] xuwei-k commented on #239
https://github.com/47deg/scalacheck-datetime

[2016-10-27 16:35] alexandrnikitin opened #289 "Properties.overrideParameters doesn't work as expected"
`Properties.overrideParameters` method gets called but doesn't override parameters.
A piece of code to reproduce:

[code]

Related to #234 but it didn't get called before this PR.

[2016-10-29 09:48] larsrh opened #290 "Deadlock with ScalaCheck 1.13.x, scalaz-concurrent, and Scala 2.12.0-RC2"
After trying to port [remotely](https://github.com/Verizon/remotely) to Scala 2.12.x, I found that some of the tests involving `scala.concurrent.Future` weren't terminating. The most likely cause is a deadlock. The issue doesn't appear in Scala 2.10.x or 2.11.x, and also not when running ScalaCheck properties through ScalaTest. It only manifests when using the plain ScalaCheck runner and 2.12.0-RC

[2016-10-29 10:56] larsrh commented on #290
Same result even with a different worker count:

[code]

deadlocks with w = 1 and 2

[2016-10-29 12:31] ppopoff commented on #134
+1

[2016-10-29 14:41] cheeseng opened #291 "Release for Scala 2.12.0"
Scala 2.12.0 is released, please kindly release ScalaCheck built for it.

Thank you.

[2016-10-29 16:21] viktorklang commented on #290
Thread dump? (logical or actual deadlock?)

[2016-10-29 16:24] larsrh commented on #290
https://gist.github.com/larsrh/7745732685193f908b64b0fe466966db

[2016-10-29 16:30] mpilquist commented on #290
This throws after 10 second delay at object initialization time:
[code]

Not sure if it's related or not but seems suspicious. JStack shows the same/similar stack trace as the hang in the original ResponseSpec:

[code]

[2016-10-29 16:45] viktorklang commented on #290
hmm, I don't understand. why is remotely in the stack trace if not in the
code?

--
Cheers,
√

On Oct 29, 2016 6:31 PM, "Michael Pilquist" <notifications@github.com>
wrote:

[2016-10-29 16:49] mpilquist commented on #290
@viktorklang Only because the test class is in the "remotely" package.

Here's a further simplification which shows the same hang in jstack:

[code]

I think what's happening here is that when we run the tests via ScalaCheck, the properties are being instantiated as part of object initialization of ResponseSpec. However, we have a separate thread calling back in to ResponseSpec from the thread poo

[2016-10-29 16:57] mpilquist commented on #290
One more simplification -- same hang here:
[code]
Dump:
[code]

[2016-10-29 17:56] adriaanm commented on #290
Yep, @mpilquist says it well. See also http://stackoverflow.com/questions/15176199/scala-parallel-collection-in-object-initializer-causes-a-program-to-hang/15176433#15176433. This was true before 2.12.

New in 2.12 is that locking behavior is now different when lambdas are involved, as the lambda body is lifted to a member of the enclosing class (and thus an invocation locks on the class's monitor

[2016-10-29 20:38] viktorklang commented on #290
Adrian,

this new behavior sounds plenty risky.

--
Cheers,
√

On Oct 29, 2016 7:57 PM, "Adriaan Moors" <notifications@github.com> wrote:

[2016-10-29 20:46] som-snytt commented on #290
A sympathy comment: I hit the same issue looking at https://issues.scala-lang.org/browse/SI-10007 and you scratch your head looking at thread dumps.

[2016-10-30 00:47] adriaanm commented on #290
Viktor, it's a consequence of the new lambda encoding, which is also how Java does it. I don't know how we could change this and still use `invokedynamic`. There's a SIP for less deadlock-prone object/lazy val initialization that will likely get into 2.13. /cc @retronym

[2016-10-30 01:06] adriaanm commented on #290
To make this more concrete:

[code]

compiles to:

[code]

[2016-10-30 08:32] viktorklang commented on #290
I probably over-interpreted it.
Is the problem *only* manifesting because the logic is executed as the
object initializer?

(I am a contributor to the improved lazy init so I'd of course want it as
soon as possible. 😊)

--
Cheers,
√

On Oct 30, 2016 2:47 AM, "Adriaan Moors" <notifications@github.com> wrote:

[2016-10-30 11:01] larsrh commented on #290
So, to summarize: It's not a problem in ScalaCheck per se, but it is exhibited by the fact that the ScalaCheck runner

- uses objects instead of instantiating classes, and
- if a property is constructed from a plain `Boolean`, this is not done lazily

Is that assessment correct?

[2016-10-30 19:24] non commented on #290
The simplest change which would fix this issue is something like this:

[code]

@larsrh @rickynils Do you think ScalaCheck should support something like this? If `P` was instead some method on `Prop` it would make fixing these issues relatively straightforward (albeit still annoying).

[2016-10-30 19:30] adriaanm commented on #290
yep, as far as I understand -- all access indirect through the module field, which is locked during initialization, and re-entry (e.g., by invoking a lambda which is now implemented as a method defined in the module class, and is thus invoked through the module field) will lock

[2016-10-31 08:02] viktorklang commented on #290
I guess we'll see how much of a problem this will become—it's not going to
be easy or obvious to debug.

Are there any chances of getting the improved lazy val SIP retrofitted onto
2.12 somewhere down the line?

On Sun, Oct 30, 2016 at 8:30 PM, Adriaan Moors <notifications@github.com>
wrote:

--
Cheers,
√

[2016-10-31 10:10] larsrh commented on #290
IMHO this should be the default behaviour (lazy evaluation), because I assume quite a few people will hit this issue.

[2016-10-31 16:13] mpilquist commented on #290
Note this works:

[code]

[2016-10-31 16:17] mpilquist commented on #290
I don't think there's any other way to solve it in ScalaCheck 1.13.x -- the main culprit is the `propBoolean` implicit conversion, which is defined strictly:

[code]

Theoretically, we could change that (and maybe other conversions) to be by-name like:

[code]

[2016-10-31 16:20] non commented on #290
@mpilquist We could keep that method but make it non-implicit, and add a new by-name implicit. That would maintain binary compatibility and fix the issue I think.

[2016-10-31 16:20] mpilquist commented on #290
@non oooo good idea!

[2016-10-31 16:21] non commented on #290
I'll try it out now.

[2016-10-31 16:29] nrinaudo commented on #231
That'd be great - I tend to not open issues when the problem is not clearly on the project's side, since it sort of feels like I'm blaming the author for something that is likely my fault. Without a gitter channel, what's the alternative? stack overflow?

[2016-10-31 16:36] viktorklang commented on #290
Cool, I hope it is fixable.

On Mon, Oct 31, 2016 at 5:21 PM, Erik Osheim <notifications@github.com>
wrote:

--
Cheers,
√

[2016-10-31 17:14] non commented on #290
So, the simple fix did not work.

I tried creating `implicit def propBooleanLazy(b: => Boolean): Prop` and then making `propBoolean` non-implicit. This doesn't seem to work -- in at least some cases when a `Boolean => Prop` is asked for, a `(=> Boolean) => Prop` is not sufficient. I tried creating a lower-priority implicit of the old type, but then that gets preferentially used even in the case we

[2016-10-31 19:09] mpilquist commented on #290
@non How about this instead?

[code]

[2016-10-31 19:22] non commented on #290
Oh, that looks great! Does that pass `mimaReportBinaryIssues`?

[2016-10-31 19:23] mpilquist commented on #290
Yep, mima passes

[2016-10-31 19:23] non commented on #290
:shipit:

[2016-10-31 20:03] mpilquist commented on #290
`mimaPreviousArtifacts` wasn't configured -- once I changed it to compare against 1.13.3, it fails of course. I have a fix that passes tests and mima by making the old update method protected. PR incoming shortly.

[2016-10-31 20:25] nrinaudo opened #295 "Regression in `Gen.calendar`"
It would appear that `Gen.calendar` somehow uses the current system time in `1.13.3`. Here's a test cases that exhibits this behaviour:

[code]

This consistently fails under `1.13.3`, with dates that are 100ms appart. It systematically passes in `1.12.5`, however.

Here's a [discussion](https://gitter.im/typelevel/general?at=5817a5467b15d16e55cc9cd7) on the subject in gitter.

[2016-11-01 08:00] rickynils commented on #291
Will do, as soon as #290 is fixed (probably by just merging #294)

[2016-11-01 08:01] rickynils commented on #291
I'll get to work releasing ScalaCheck 1.11 and 1.12 builds right away though.

[2016-11-01 08:25] larsrh commented on #291
:+1: on releasing only a 1.13.4 for 2.12 with the fix incorporated

[2016-11-01 13:14] #290 closed

[2016-11-01 17:36] rickynils commented on #291
I have released ScalaCheck 1.13.4 and 1.12.6 for Scala 2.12, 2.11 and 2.10, with the fix incorporated. I've also published a 2.12 build of ScalaCheck 1.11.6 (not fixed, and I don't know if it is affected)

[2016-11-01 17:36] #291 closed

[2016-11-01 20:05] xuwei-k commented on #291
I could not find 1.13.x for Scala.js

https://oss.sonatype.org/content/repositories/releases/org/scalacheck/scalacheck_sjs0.6_2.12/

![screen shot 2016-11-02 at 5 04 58](https://cloud.githubusercontent.com/assets/389787/19905402/f1c0e6ce-a0b9-11e6-92a3-676dc8a7d385.png)

[2016-11-01 23:54] rickynils commented on #291
@xuwei-k You're correct, it looks like I forgot publishing that build. On its way now!

[2016-11-03 19:45] macalinao opened #297 "Support "Otherwise" to be paired with "Whenever""
http://doc.scalatest.org/3.0.0/index.html#org.scalatest.prop.Whenever

It would be nice to do something like

[code]

[2016-11-03 20:35] non commented on #295
Just a note here: the title of this bug is somewhat misleading. In 1.12.5 generated functions always produced constant values, which meant that the same date would always be produced. The function generation is a red herring here, you'll see the same issue with:

import org.scalacheck._
import Prop._

val p = forAll { (n: Long) =>
  val params = Gen.Parameters.default
  val seed = rng.Seed(n)
  va

[2016-11-03 21:18] non commented on #297
Did you mean to open this issue for ScalaTest?

[2016-11-04 06:37] macalinao commented on #297
Yes.

[2016-11-04 06:37] #297 closed

[2016-11-07 09:01] nrinaudo opened #300 "Arbitrary functions fail when the Gen instance on their return type sometimes fails"
This means, among other things, that any `Arbitrary` instance that relies on `Gen.suchThat` cannot be used to generate arbitrary functions.

As an example:

[code]

And then:

[code]

See alexarchambault/scalacheck-shapeless#50 for a far more insidious example.

[2016-11-07 16:01] non commented on #300
So, just to be clear, the generator has to fail many times (by default 100) before the function generator fails. See `pureApply` and `doPureApply` here: https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Gen.scala#L73.

I think this is the only reasonable behavior for a generator that can be filtered (it is roughly the same behavior as the original QuickCheck's). By

[2016-11-07 17:15] alexarchambault commented on #300
@non Per [the source](https://github.com/rickynils/scalacheck/blob/b84b5a029f3d4f85f005f65c729877a989c0f48f/src/main/scala/org/scalacheck/Gen.scala#L55-L59), `doApply` is only called once.

[2016-11-07 17:59] alexarchambault commented on #300
As @nrinaudo's example illustrate, it only takes one failure to make `Gen.function1` fail.

[code]
gives
[code]

[2016-11-07 23:24] non commented on #300
OK! Yes, there is a bug/typo, the method should read:

[code]

I've confirmed that with this change the property passes.

[2016-11-08 07:54] #295 closed

[2016-11-08 07:55] #300 closed

[2016-11-10 16:30] kevinmeredith commented on #280
Out of curiosity, why is `java.math.BigDecimal` in your list, @non, but not `scala.math.BigDecimal`?

[2016-11-10 16:36] non commented on #280
We already have an `Arbitrary[scala.math.BigDecimal]` https://github.com/rickynils/scalacheck/blob/master/src/main/scala/org/scalacheck/Arbitrary.scala#L202

[2016-11-12 23:17] coltfred commented on #254
This was a frustrating issue when upgrading to scalatest 3.0 and scalacheck 1.13.x

@rickynils
`def propertiesToProp(properties: Properties) = Prop.all(properties.properties.map(_._2): _*)`

does work as a work around.

[2016-11-27 18:56] dmyersturnbull opened #304 "Gen.listOfN fails for string for some property tests with function calls"
This is a weird bug, but I can easily reproduce it.

#### this works

[code]

#### so does this (basically the same thing)

[code]

#### this doesn't

[code]

The only difference is calling `RgbColor.fromHex(hexColor).toHex`

[2016-11-27 19:03] dmyersturnbull commented on #304
I'm using Scala 2.11.8, scalatest and scalactic 3.0.0 with scalacheck 1.13.4 and scalamock-scalatest-support 3.2.2. Here's a [complete example](https://github.com/kokellab/kl-common-scala/blob/master/core/src/main/scala/kokellab/utils/core/addons/RgbColor.scala).

[2016-11-27 19:11] rickynils commented on #304
@dmyersturnbull So what does ScalaCheck say about the property? Does it fail it? I assume that `RgbColor.fromHex(hexColor).toHex should equal (hexColor)` is false for some value of `hexColor`. ScalaCheck then tries to find a smaller version of `hexColor` that still falsifies the property.

[2016-11-27 19:26] dmyersturnbull commented on #304
Yes, it fails because `RgbColor.fromHex` can only parse strings of length 6.

It seems that ScalaCheck shouldn't try to minimize a string in a way that violates the generator. Right?

[2016-11-27 19:28] dmyersturnbull commented on #304
I should also add that the tests pass if I replace `RgbColor.fromHex(hexColor).toHex` with `String.valueOf(hexColor)`

[2016-11-27 19:36] rickynils commented on #304
@dmyersturnbull ScalaCheck only tries to minimize when it has found an initial error. So there must be some string of length 6 that falsifies the property. ScalaCheck should inform you about both the initial failure case and the minimized one. But I can't vouch for ScalaTest, maybe it doesn't print the non-minimized failure case.

It is a known issue/feature that the minimization feature of ScalaC

[2016-11-27 20:24] dmyersturnbull commented on #304
Thanks for helping, and of course for developing ScalaCheck. I guess there's no real bug here.

You're right: ScalaTest doesn't show the error as clearly as one would hope, and I didn't know that overly aggressive minimization was a limitation in ScalaCheck.

[2016-11-27 20:24] #304 closed

[2016-11-28 14:32] non commented on #304
@dmyersturnbull One way that I tend to solve problems like this is by creating custom types to use in my properties. For example:

[code]

[2016-12-01 18:29] mosesn opened #305 "trees in scalacheck"
Trees are a pain to generate with scalacheck because scalacheck makes them too big.  This means that folks who want to experiment with large trees have to build an ad-hoc depth-limiting function into their tree generators.  Scalacheck should provide tooling so that we don't have to constantly reimplement this.

A possible solution (and perhaps to illustrate my complaint better):

[code]

[2016-12-01 22:23] alexarchambault commented on #305
FYI, scalacheck-shapeless allows to (almost) explicitly limit the size of the generated trees, since its version `1.1.4`, like
[code]

The `size` from the `Gen.Parameters` then makes the tree generation stop after some depth.

Currently, a small glitch in the case class generation makes this not put a hard limit on the depth of the generated trees, but it's about to be fixed.

[2016-12-01 22:45] mosesn commented on #305
Very cool!  Would love to be able to do it without adding a dependency on shapeless though.

[2016-12-03 01:50] alexarchambault commented on #305
@mosesn Just do like scalacheck-shapeless does: use `Gen.sized` / `Gen.resize`, making sure the `Tree` arbitrary makes the size decrease.

[2016-12-03 03:32] mosesn commented on #305
@alexarchambault how do I make the size decrease?

[2016-12-03 03:39] xuwei-k commented on #305
in scalaz (Rose Tree)
- https://github.com/scalaz/scalaz/blob/v7.3.0-M7/scalacheck-binding/src/main/scala/scalaz/scalacheck/ScalazArbitrary.scala#L311-L336
- https://github.com/scalaz/scalaz/blob/v7.3.0-M7/tests/jvm/src/test/scala/scalaz/TreeTestJVM.scala#L13-L16

[2016-12-03 16:05] mosesn commented on #305
@alexarchambault I don't think using Gen.resize like you do in scalacheck-shapeless doesn't seem like it would make ad-hoc trees simpler.

Clearly this is a common use case, since there are at least two in finagle, there's one in scalaz, and one in scalacheck-shapeless.  Maybe it's time for one of the generic implementations to graduate to scalacheck?  What do you think, @rickynils @non?

[2016-12-04 12:31] mgttlinger opened #306 "A more typelevel themed logo"
I suggest a more typelevel themed logo (at least for the stickers) which fits in with the general design and color scheme of the typelevel logo. One reason for that is that a black sticker looks not very good on a black laptop :wink:.
![scalacheck](https://cloud.githubusercontent.com/assets/5120487/20866133/28528902-ba25-11e6-90de-cd10066faf67.png)
This is my initial draft derived from the typelev

[2016-12-05 19:58] oscar-stripe commented on #305
actually, @tixxit even took a stab at generating DAGs in a generic way.

[2016-12-05 21:16] mosesn commented on #305
@oscar-stripe is that open source?  might it get into scalacheck?

[2016-12-07 11:55] dvtomas commented on #129
Yeah, I keep hitting this issue as well, very annoying.

[2016-12-08 09:00] non commented on #306
@mgttlinger That's definitely nice-looking! I must confess that I secretly love having a black hexagon sticker on my laptop (but I don't oppose creating other stickers as well).

[2016-12-08 22:27] rickynils commented on #265
Resolved in 6918ee8

[2016-12-08 22:27] #265 closed

[2016-12-20 21:28] mosesn commented on #305
@rickynils have you had a chance to take a look at this?  what do you think?

[2016-12-22 09:14] mgttlinger commented on #306
Soooo, should I make any changes or send a vector graphic of it to anyone or wait for more objections or how does this move forward?

[2016-12-22 15:10] rickynils commented on #306
@mgttlinger I'm sorry for my lack of feedback! To be honest I don't see the need for aligning ScalaCheck's logo with other Typelevel projects, and for the black-on-black problem I think we could just create inverted stickers (black font on white background).

[2016-12-22 15:21] mgttlinger commented on #306
Ok, I can accept that.

[2016-12-22 15:21] #306 closed

[2016-12-22 19:19] tixxit commented on #305
@mosesn It is not open source (currently just a prototype in a gist somewhere). I'll take a stab at cleaning it up this weekend though!

[2016-12-29 15:22] mosesn commented on #305
@tixxit oh, cool!  have you had a chance to look at it yet?

[2016-12-30 17:59] anatoliykmetyuk opened #309 "Specifying the minimal number of test runs with SBT"
I have the following under `src/test/scala/Suite.scala`:

[code]

When I run it with `sbt test`, neither "A" nor "B" gets printed, and SBT executes only 100 tests for each property. How do I make it run 1000 tests instead?

[2016-12-30 22:22] Philippus commented on #74
1. I think it's because of the  `n >= 0` part in propMakeList.
ScalaCheck has a bias for special values (like 0 and 1).
Probably in this case the values 0 and 1 are selected enough times for 100 successful tests.

If you change your `x > 0` to `x >=0` you will also get 100 successful tests (but mainly 0 and 1 will be tested).

You can play around with `collect` to see the distribution of the gener

[2016-12-30 22:40] Philippus commented on #309
there's an example sbt project: https://github.com/rickynils/scalacheck/blob/master/examples/simple-sbt/build.sbt

[2016-12-30 23:03] Philippus commented on #185
this bug is still there for me in sbt 0.13.13

[2016-12-30 23:32] anatoliykmetyuk commented on #309
Thank you, this solves it.

[2016-12-30 23:32] #309 closed

[2017-01-03 08:34] peter-empen commented on #300
I'd appreciate your publishing this fix for Scala 2.11. Thanks a lot.

[2017-01-16 07:28] Stefanqn commented on #256
to be honest, I think the current implementation / behavior is not intuitive.
this worked for me:
[code]
where elemGen fails often bc it uses suchThat
[code]

[2017-01-18 11:52] pandaforme opened #313 "Simple check leads to infinite loop"
I define a trait and it has 3 instances.

[code]

Test cases:
[code]
The test case runs infinitely...
But when I removed one instance from `Test1`, for example, `CC`
It works well and doesn't run infinitely...
Is it a bug or I misuse it?

[2017-01-22 19:42] pjfanning opened #314 "release latest master"
Would it be possible to do a release from the current master code base?
I think getting a release of https://github.com/rickynils/scalacheck/pull/263 would be helpful.

[2017-01-28 19:41] julien-truffaut opened #315 "Generate non serializable collection"
I have seen the following error in frameless (spark + shapeless):

[code]
(see full build https://travis-ci.org/adelbertc/frameless/builds/194247227)

It seems using the following instance of `Arbitrary[Vector[A]]` fixed it:
[code]

[2017-02-12 13:30] muhuk commented on #246
Just confirming this solves my issue.

[2017-03-05 22:30] nlw0 opened #317 "Tests generating invalid inputs (value 0)"
I am working on a software for logic inference, where I am processing lists of non-zero values. My test looks like:

[code]

This always breaks for me, with Scalacheck generating shrinked lists that contain the value 0, which is invalid. If I switch to `forAllNoShrink` all goes well.

I was very lost on that for a while, it was quite surprising to see the value '0' in my tests while I was very car

[2017-03-06 10:14] rickynils commented on #317
This is a known limitation of ScalaCheck, shrinking will not always respect the generator bounds.

You can add a pre-condition to you property with ScalaCheck's implication operator (`==>`) to avoid this if you like. That would also make it clear that your implementation has a pre-condition that needs to be satisfied before using it.

[2017-03-08 19:11] nlw0 commented on #317
Thanks. I ended up writing a Shrink and "specializing" my Ints using a case class (because I don't know how to use stuff like refined types), but I am definitely interested in learning how to use the library better and try something like that. I don't mean to be a whiny user, and shrinking actually helped me to find a bug in my code later. I understand it is difficult to implement this, and I've b

[2017-03-10 08:52] JBlundell commented on #288
Hi, don't suppose there's any update on this? (We've since updated to 1.13.4 and it stills occurs)

Thanks.

[2017-03-13 08:04] xuwei-k opened #318 "Test.Parameters.Default removed but 1.13.4.jar contains it"
- https://github.com/rickynils/scalacheck/commit/259607f788ce9d32ff86515ab1648797284b94d1
- https://github.com/rickynils/scalacheck/blob/1.13.4/src/main/scala/org/scalacheck/Test.scala#L107-L126

[code]

[2017-03-13 08:57] rickynils commented on #318
OK, I just reproduced this locally by checking out the `1.13.4` tag and running `sbt package`. Then I got the `Default` classes in the (newly created) jar. However, after running `sbt clean` and then `package`, the `Default` classes disappeared from the jar. So clearly I haven't run `clean` before publishing 1.13.4, and sbt doesn't seem to make sure only relevant `.class`-files are included in the

[2017-03-13 12:02] rickynils commented on #318
I've published ScalaCheck 1.13.5 to fix this issue. https://github.com/rickynils/scalacheck/blob/1.13.5/RELEASE

[2017-03-13 12:02] #318 closed

[2017-03-13 12:30] xuwei-k commented on #288
https://github.com/rickynils/scalacheck/issues/185 ?

[2017-03-13 15:11] #195 closed

[2017-03-15 00:06] SethTisue commented on #318
The way you've fixed this causing me trouble in the community build (https://github.com/scala/community-builds/issues/493). I'd rather not have to fork ScalaCheck to undo the change. Is there some other way you could fix this, other than by changing the behavior of the

[2017-03-15 00:08] SethTisue commented on #318
In the Scala community build, this change confuses dbuild, resulting in https://github.com/scala/community-builds/issues/493

Is there some other way you could fix this? Perhaps by modifying `tools/travis-deploy.sh` appropriately instead...?

[2017-03-15 00:14] SethTisue commented on #318
the problem is reproducible outside of dbuild simply by running `jvm/publish` twice in a row. the first run fails with "Access ... was refused by the server: Unauthorized", as expected. but then the second run gives the "Missing files for publishing" error. I think the issue is that you've basically cut the legs out from under `packageBin` by telling it to delete the same files that it needs to pr

[2017-03-15 09:13] dabd commented on #231
Sorry to bump this one, but is any of the maintainers available to go forward with this?

[2017-03-15 09:46] rickynils commented on #231
I've finally set up this now: https://gitter.im/scalacheck/Lobby#

[2017-03-15 09:46] #231 closed

[2017-03-15 10:14] dwijnand commented on #318
Ugh. sbt should do better than this. I've filed this as https://github.com/sbt/sbt/issues/3018.

[2017-03-16 12:18] kevinmeredith opened #321 "org.scalacheck.Gen.oneOf - call by-name?"
[ScalaCheck: The Definitive Guide]() demonstrates in chapter 6 how to create generators for recursive data structures, listed in the first part of this [SO Question](http://stackoverflow.com/questions/42810351/testing-recursive-data-structure).

The text states:

Then, the book notes how to use `org.scalacheck.Gen.lzy`:

generator that wraps the original generator lazily by delaying its parameter

[2017-03-16 12:28] kevinmeredith commented on #321
Actually, I just read this [SO answer](http://stackoverflow.com/a/2707219/409976):

And I believe it's still true:

[code]

[2017-03-16 12:29] #321 closed

[2017-03-17 14:30] mikem2005 opened #322 "Add ?!= and other methods to simplify creating comparison properties"
Currently `?=` and `=?` exist to easily create a property that checks two values.

It would be great if `?!=`, `?>`, `?>=`, `?<`, `?<=` also existed in the library as my team has written custom methods to make these comparisons.

Any objections to submitting a diff?

[2017-03-19 13:11] kevinmeredith commented on #305
On the topic of generating test data for recursive data structures, this answer clarified how to use Gen.sized and Gen.resized:

http://stackoverflow.com/a/42855840/409976.

[2017-03-29 16:33] non commented on #313
@pandaforme Can you also paste the `Arbitrary[Test1]` that you wrote? If there is a hang it is likely in that code.

[2017-03-30 03:42] pandaforme commented on #313
@non
Sorry, it's my fault...
Because I use a library [random-data-generator](https://github.com/DanielaSfregola/random-data-generator), it causes the problem.

The codes will cause infinitely loop:
[code]
I'll close the issue, thank you for your reply.

[2017-03-30 03:42] #313 closed

[2017-04-14 12:45] xuwei-k commented on #318
https://github.com/rickynils/scalacheck/pull/326

[2017-04-14 13:19] xuwei-k opened #327 "should not execute the clean task in packageBin task"
- http://www.scala-sbt.org/0.13/docs/Custom-Settings.html#Execution+semantics+of+tasks
- https://github.com/rickynils/scalacheck/issues/318#issuecomment-286601090

because `publishLocal` and `publish` task nondeterministic fail.

![screen shot 2017-04-14 at 22 18 29](https://cloud.githubusercontent.com/assets/389787/25044213/61b089d6-2160-11e7-91af-acc039caef8c.png)

[code]

[2017-04-15 17:26] non commented on #327
It seems like we should move the `clean` step to another place, maybe something specific to the release process.

@rickynils, do you use a release script? I could always throw something together which runs whatever SBT command you use right now, with a `clean` first. What do you think?

[2017-04-17 14:51] rickynils commented on #327
@non Yes, the `clean` step is an unreliable hack. Let's go for a release script. Much appreciated if you throw something together. The steps I do is basically these:

[code]

And before that I have usually tagged the release and created a `x.y.z_sonatype` branch from which I do all the release work.

[2017-04-18 19:03] non commented on #327
Sounds great! I'll start on a release script (or possibly try to configure `sbt-release`) and send a PR as soon as I can.

[2017-04-19 21:46] rickynils commented on #327
The `packageBin` abuse has been reverted in 9b71bb3.

[2017-04-20 23:23] DarkDimius commented on #290
FYI: I don't think this problem is inherent to invoke dynamic and lambdas.
The solution is to not _never_ methods static in top-level unless you really have to.

I'm adding version by @mpilquist to Dotty test suite https://github.com/lampepfl/dotty/pull/2283
The solution comes from this PR, if I remember it right: https://github.com/lampepfl/dotty/pull/628

[2017-04-20 23:24] DarkDimius commented on #290
Sorry for being late for party. @smarter invited me to this discussion long ago, but I didn't notice the email.

ping @adriaanm

[2017-04-29 10:43] #327 closed

[2017-04-29 10:44] xuwei-k opened #330 "release scalacheck_sjs0.6_2.13.0-M1"
@rickynils

[2017-05-08 16:34] bugfoot opened #332 "Gen.pick randomness questioned"
According my observations detailed in [this StackOverflow post](http://stackoverflow.com/questions/43839988/is-scalachecks-gen-pick-really-random/43846693), `Gen.pick` is seemingly not randomly picking elements from a list as it claims to.
As explained by [this reply](http://stackoverflow.com/a/43846693/4169924) by [ashawley](http://stackoverflow.com/users/73449/ashawley):

(see code sample and mo

[2017-05-08 17:10] ashawley commented on #332
Well, `pick` is randomly selecting values from a set. However, it has sacrificed picking equally among the values and favors the end of the list because the code is trying to do iterate through the list lazily.

In your example, yhe odds of picking the first item is 1 in 50 or 2%.  Therefore, the odds of picking the first 3 items is  `1 / 50 * 1 / 49 * 1 /48` or about 1 in 10,000.

Maybe if you ra

[2017-05-09 04:44] bugfoot commented on #332
You are right @ashawley that I could compensate for `Gen.pick`'s skewed results by shuffling, but the underlying bug should be corrected in `pick`'s source code as [SergGr](http://stackoverflow.com/users/182660/serggr) pointed out in [this StackOverflow reply](http://stackoverflow.com/a/43857884/4169924), with solution also proposed.

[2017-05-09 10:37] ashawley commented on #332
I actually was confused about the statistics and made some incorrect statements.

I don't see what's pointed out at SergGr's post.

To be honest, I should probably actually run your code and someone should write an actual test to verify it is an issue.  Your code and the way it's bootstrapped is a little unorthodox, so that needs to be sorted out, IMO.

[2017-05-13 15:11] SethTisue commented on #327
thanks @rickynils!

[2017-05-25 15:17] xuwei-k commented on #330
ping

[2017-06-02 17:28] djspiewak commented on #330
This is actually holding up a good chunk of the ecosystem, since most projects cannot release their SJS 2.13.0-M1 cross-builds without ScalaCheck and ScalaTest.

[2017-06-08 14:39] rickynils commented on #330
The `doc` task seems to fail due to changes in ScalaJS (bumped to 0.6.17 to get the 2.13.0-M1 release):

[code]

[2017-06-08 16:34] djspiewak commented on #330
Ping @sjrd.

[2017-06-08 16:43] xuwei-k commented on #330
just remove `-Xfatal-warnings` ?

https://github.com/rickynils/scalacheck/blob/1.13.5/build.sbt#L51

[2017-06-08 17:01] djspiewak commented on #330
That's an option: https://github.com/djspiewak/scalacheck/tree/wip/2.13  It'll have to be addressed eventually though.

[2017-06-08 17:48] SethTisue commented on #330
http://www.scala-js.org/news/2017/03/21/announcing-scalajs-0.6.15/ explains the deprecation and how to migrate

[2017-06-08 18:46] sjrd commented on #330
As pointed by @SethTisue, the 0.6.15 announcement should explain everything you need to know to migrate. Feel free to ask further questions if it's not enough.

[2017-06-14 02:33] nigredo-tori opened #335 "Add Arbitrary[UUID]"
Currently there's no `Arbitrary[UUID]` instance, even though we have the corresponding `Gen`. I think it would make a lot of sense to have this out of the box (all such instances I've seen are defined as `Arbitrary(Gen.uuid)` anyway).

[2017-06-16 16:11] shawjef3 opened #338 "Gen.chooseNum(0, Int.MaxValue) sometimes gives -1073741823"
I would expect this to not give any negative values.

[2017-06-16 16:11] shawjef3 commented on #338
As a work around, I'm using `Gen.choose(0, Int.MaxValue)`.

[2017-06-16 16:15] shawjef3 commented on #338
Actually, `Gen.choose` isn't a good workaround, because it doesn't test extrema.

[2017-06-16 16:16] shawjef3 commented on #338
I'm using scalacheck 1.13.5 for scala 2.11.

[2017-06-16 19:21] SethTisue commented on #330
@rickynils is your wip on this on GitHub? I could try to finish it up.

[2017-06-16 19:54] rickynils commented on #330
@SethTisue No wip. I just bumbed the scalajs version in plugins.sbt. If PRs are provided for the 1.13.5_sonatype and 1.12.6_sonatype branches I can try to publish releases. But maybe we have to cut new releases if there are code changes.

Sorry for my unresponsiveness. It is mainly because I got a kid some weeks ago, and partly because I have never used ScalaJS.

[2017-06-17 10:32] eyalfa commented on #256
@non,
I think I've managed to come up with a better Impl for listOf/listOfN/nonEmptyListOf, I've described it in the users list: https://groups.google.com/forum/m/#!topic/scalacheck/7MIkeT4XoCk.

Do you think a PR introducing this approach is likely to be accepted?

[2017-06-20 00:44] SethTisue commented on #330
please continue to prioritize your human children over your digital ones :-)

the release notes say that `scalacOptions += "-P:scalajs:suppressExportDeprecations"` will continue to work for Scala.js 0.6.x, so that seems like an acceptable minimal fix for now. I will send PRs on the two branches you suggest

[2017-06-20 00:59] SethTisue commented on #330
trio of pull requests: #339, #340, #341

[2017-06-21 21:26] SethTisue commented on #330
hmm, actually it's not that hard to go ahead and make the necessary changes to not use the deprecated stuff at all. revising the PRs now

[2017-06-21 21:59] SethTisue commented on #330
hmm, well, probably better to make the minimal change on the release branches. I did the better version on master (#341); the other two are fine as-is I think.

[2017-06-25 15:51] xuwei-k commented on #330
Thanks!
https://oss.sonatype.org/content/repositories/releases/org/scalacheck/scalacheck_sjs0.6_2.13.0-M1/

[2017-06-25 15:51] #330 closed

[2017-06-25 16:24] rickynils commented on #330
@SethTisue Thanks for the PRs! I've published releases for ScalaCheck 1.12.6 and 1.13.5

[2017-07-12 22:34] ttim opened #342 "Arbitrary functions are not serializable with Scala 2.12"
Due to the bug in Scala 2.12 https://issues.scala-lang.org/browse/SI-10232 generated arbitrary functions in scalacheck are not serializable. Fix for that is to split `ArbitraryArities` and `GenArities` into different traits.

Here is a repro (should be done with scala 2.12):
[code]
Should work but instead cause next exception:
[code]

[2017-07-12 23:23] travisbrown commented on #342
I've just confirmed that this issue can be resolved by instantiating `FunctionN`s explicitly instead of using function literals, which means we don't have to break binary compatibility by splitting up the traits. I'll send a PR in the next half hour or so.

[2017-07-13 00:11] ttim commented on #342
@travisbrown this is awesome, thank you!

[2017-07-13 08:50] #335 closed

[2017-07-13 09:01] #342 closed

[2017-07-13 12:19] ashawley commented on #332
This can be closed since #333 was merged

[2017-07-13 12:36] #332 closed

[2017-07-13 18:36] non opened #344 "Release 0.13.6"
I feel like the recent serialization issue warrants a new release, now that we have a fix in.

What do you think @rickynils?

I'm not sure I have Sonatype permissions to publish to `org.scalacheck` but if I do I'm happy to try to manage the release process.

[2017-07-13 19:44] cquiroz commented on #344
It would be nice to get this out to support newer versions of scala.js added after the last release

[2017-07-17 23:00] ttim commented on #344
`0.13.6` would be really nice for Summingbird project as well. We have issue with lambdas serialization and right now implemented workaround for that (not yet merged). Having working scalacheck release will help us to avoid this workaround at the first place.

[2017-07-23 17:45] Kevin-Lee opened #347 "Gen.choose in 1.13.4 (or 1.13.x?) ignores its range"
`org.scalacheck.Gen.choose` in 1.13.4 (or maybe 1.13.x) seems to ignore its range when it gets a failed test.
For instance, when the following check fails, I think the `ARG_0` should be 10 but it isn't.
[code]
In my case, it gives me 0 which shouldn't be given by `Gen.choose(1, 10)`.

* Result:
[code]
As you can see, it even supplies a negative number.
I can see that an old version like 1.12.6 doe

[2017-07-28 23:53] SethTisue opened #349 "release for Scala 2.13.0-M2, plz?"
now that 2.13.0-M2 is on Maven Central

[2017-08-01 12:44] Kevin-Lee commented on #347
Because of this issue, all other gen methods using `choose` (e.g. `numChar`, `alphaUpperChar`, `alphaLowerChar`, `alphaChar`, `alphaNumChar`, `numStr`, `alphaUpperStr`, `alphaLowerStr`, `alphaStr`, `alphaNumStr`, and so on) are broken as well.
e.g.)
`Gen.alphaStr` sometimes gives me `Int` values or some symbols like `+`.

I can't use 1.12.x versions because there is another issue in there (more pr

[2017-08-01 12:54] Kevin-Lee commented on #347
I just saw #317. If it's an already known issue, how come I don't have this in 1.12.x? Does that mean I was just lucky when I was using 1.12.x? 🤔

[2017-08-01 13:49] Kevin-Lee commented on #317
@rickynils Could you please tell me if this will be fixed to always respect the generator bounds or it is an intended behavior so will remain as is?

[2017-08-02 13:51] xuwei-k opened #351 "add more maintainers"

[2017-08-02 16:06] rickynils commented on #317
@Kevin-Lee I consider it something that should eventually be fixed, but it might require larger changes in ScalaCheck, and no one is currently working on this.

[2017-08-02 16:14] rickynils commented on #347
@Kevin-Lee I guess you were lucky, but there might have been changes that affected the behavior.

Also, please note that you will only get those unexpected values when ScalaCheck actually have found errors in your code with "correct" values. Shrinking is only performed after an error has been found, so if you find and fix the errors in your code (or property), you will not get unexpected values.

[2017-08-06 16:08] ssanj commented on #322
I had to write one of these operators myself recently. Would be nice to have these included. :) 👍

[2017-08-09 14:18] PipocaQuemada commented on #199
What's the status of this issue, out of curiosity?

[2017-08-09 14:44] SethTisue commented on #349
@rickynils any chance you could turn the crank on this? the changes in M2 are modest, so there's a very good chance there won't be any hitches

[2017-08-09 14:46] alathon commented on #199
I never got around to this, as my thesis ended and I got distracted. @rickynils do you want a dump of what I wrote? I probably won't have time to rebase against current and shape it into a sensible PR, but I could send the suggested changes your way?

[2017-08-10 04:56] wjlow opened #352 "Generating a list of size N where each element is distinct."
I'm proposing something like:

[code]

In my own codebase, I've got something similar where `T` is constrained by the `Eq` typeclass from Cats. This allows me to define what distinctiveness means. From my understanding, ScalaCheck has no dependency on Cats.

For instance, you may have a `case class Person(name: String, age: Int)` and for a specific scenario, you might want to generate `List[Person

[2017-08-10 23:08] ashawley commented on #352
How about?

[code]

Then you can generate distinct lists with `Set` and `containerOfN`:

[code]

I don't enough about cats to know if `Eq` cooperates well with scala collections.

[2017-08-10 23:10] ashawley commented on #352
Looks like there is an effort to make cats work with scala collections, including `Set`:

https://github.com/non/alleycats

And also an initiative to build cats extensions to Scalacheck:

https://github.com/non/cats-check

[2017-08-11 11:04] wjlow commented on #352
Thanks for the suggestion @ashawley. I feel like this approach isn't as obvious though. Can we provide a simple function that generates a collection of T _provided_ a way to define distinctiveness?

Your approach works and I like how it works by composing Gens. However I feel like it's easier to provide a function that determines equality `(A,A) => Boolean` as opposed to having to write a Gen for

[2017-08-16 07:51] rickynils commented on #349
I've released ScalaCheck 1.12.6 and 1.13.5 for Scala 2.13.0-M2 now

[2017-08-16 07:51] #349 closed

[2017-08-16 13:03] rickynils commented on #351
I'm definitely interested in this.

These are some ideas I currently have, that are more or less related to maintenance:

* Create a `scalacheck` GitHub organization, to emphasize shared maintenance
* Keep the current ScalaCheck lib slim (or make it even slimmer) and dependency-less. Encourage utility libraries for specialized functionality/combinators/generators etc. This does not imply that the

[2017-08-16 18:51] SethTisue commented on #349
thank you Rickard!

[2017-08-26 13:27] ssanj opened #355 "Pick does not choose randomly when choosing all elements"
Pick is defined as:

[code]
I use ```pick```  to  randomly choose 3 values from a range of 1 to 5 with the following:

[code]

We see that the 3 values are chosen randomly.

If I ask for all 5 values to be chosen randomly:

[code]

I keep getting the same values.

Is this the expected behaviour? It seems like unless the ```n``` supplied to pick is less than the size of the iterable ```i```, it doe

[2017-09-11 15:54] ashawley commented on #355
It isn't released, yet, but it was fixed in #333.

[2017-09-13 08:32] andreaTP commented on #344
Since recent addition of sjs 1.0.0-M1 support I wonder if we can have a release here

[2017-09-16 04:40] ssanj commented on #355
I built this locally and it doesn't seem to have solved the issue. The problem is in the ```if``` condition, where it returns the exact content of the iterable __l__ when ```count <= n```  where, __count__ is the number of elements in __l__ and __n__ is the number of elements to pick:

[code]

[2017-09-18 20:41] ashawley commented on #355
Sorry, I didn't read your first post closely.  You're right.  It doesn't shuffle when `pick` is called when `n` equals `count`.  I don't know enough to really tell, but it looks like reservoir sampling was implemented without a shuffle.

https://en.wikipedia.org/wiki/Reservoir_sampling

I suppose it would be ideal to have it shuffle when `n` equals `count`, but there may be a tradeoff or some diff

[2017-09-21 21:04] joroKr21 opened #356 "Cogen.cogenMap should not require ordering on the values"
Keys in a `Map` are always distinct. Therefore sorting by the keys should be sufficient:
[code]

[2017-10-02 18:30] SethTisue opened #358 "tests intermittently time out during Scala community build"
I know I've seen this several times before but I don't think I've reported it:

[code]

(from https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2005/consoleFull)

[2017-10-04 22:58] #356 closed

[2017-10-08 13:27] ssanj opened #360 "How should Properties.overrideParameters work?"
This is a question around how Properties.overrideParameters should work and is linked to #233 and #234. I'm seeing slightly different behaviour depending on whether I'm running the Property through SBT __test__ or through SBT __run-main__ (command line) with and without overrides.

Given the following property:

[code]

I wanted to run the above property more than a 100 times to provoke a failure.

[2017-10-09 18:00] ashawley commented on #360
Did it work after #234 was merged and released in version 0.13.2?  Or did it stop working more recently?  Or has it never worked?

[2017-10-11 12:56] ssanj commented on #360
I tried with ScalaCheck version 0.13.1 (before #234 was merged) and with 0.13.2 (after #234 was merged). The results are the same as above:

ScalaCheck: __1.13.1__

BasicProps with override (1000)

 Method | Tests run
 -------| ----------
 sbt test          | 100
 sbt run-main      | 1000
 sbt run-main -s 5 | 1000

Basic2Props without override

 Method | Tests run
 -------| ----------
 sbt test

[2017-10-11 13:04] ashawley commented on #360
When it was introduced in #188 it was suggested by @rickynils that it was a good first start, but would only work for property collections, and that a better approach was in the works for ScalaCheck 2.0.

[2017-10-11 13:12] ssanj commented on #360
The above configurations all run property collections not individual props - which I presume would also be supported in ScalaCheck 2.0. It should be possible to _fix_ the current implementation to work as expected at least until ScalaCheck 2.0 drops. I'm happy to take a crack at it if the expected behaviour is as per the precedence outlined in my original issue.

[2017-10-13 15:39] andreaTP opened #362 "Publish for Sjs 1.0.0-M1"
Please if you publish for Sjs 1.0.0-M1 we can move forward on scalatest.
Thanks in advance :-)

[2017-11-05 02:54] lihaoyi commented on #185
This sounds a lot like https://github.com/lihaoyi/utest/issues/25 caused by https://github.com/sbt/sbt/issues/3510 (uTest's workaround is linked from the utest issue)

[2017-11-13 22:28] SethTisue opened #369 "scalacheck.org website should be recommending 1.13.5, not 1.13.4"
just an oversight I assume

[2017-11-13 22:29] SethTisue commented on #369
not just the front page, but http://scalacheck.org/download.html too

[2017-11-15 17:47] spockoyno opened #371 "Import conflict with implication operator in Intellij"
The code
` val propMakeList = forAll { n: Int => (n >= 0 && n < 10000) ==> (List.fill(n)("").length == n) }
`
works with
` import org.scalacheck.Prop.forAll
import org.scalacheck.Prop.BooleanOperators
`
However, a compilation error "Cannot resolve symbol" ==> appears for
` import org.scalacheck.Prop._
import org.scalacheck.Prop.BooleanOperators
`
(The latter import is now greyed, ie, unused.) The

[2017-11-22 19:57] AntonIvanov87 opened #372 "Gen.nonEmptyListOf...map generates empty list"
[code]
charsGen should generate non empty list of chars, that is why IllegalArgumenException("empty string!") should be never thown.
Unfortunately if an iteration fails, you see:
[code]
Empty string is very confusing, because it hides the real cause and contradicts with generator definition (nonEmptyListOf).

If you substitute stringGen with charsGen the output is correct:
[code]
It looks like any

[2017-11-27 16:24] ashawley commented on #372
You'd need to use `forAllNoShrink`.

That constraints in generators aren't respected in shrinking is known issue, see #129.

[2017-12-01 12:03] etorreborre opened #374 "1.14.0 release with useSeed"
@rickynils hi, can we please have a `0.14.0` release containing the possibility to set seeds on properties?

[2017-12-04 10:41] #372 closed

[2017-12-11 04:54] Ubadub commented on #371
I am having the same issue. You cannot include the line

`import Prop._`

anywhere in your code if you want the ==> (implication) operator to work. I disagree with the previous poster (@spockoyno) that this is not a big deal in itself. It's highly unintuitive for people new to scalacheck for imports to behave in this fashion.

What's the reason for this, anyways? It makes very little sense.

[2017-12-11 13:54] spockoyno commented on #371
Might it actually  be  an issue with the  Intellij rather than with scalaceck? I've had a few "good code red" and similar problems  in Intellij with "shapeless" and other scala libraries.

[2017-12-20 21:35] ljwagerfield commented on #289
Has anyone found a solution / workaround to this?

[2017-12-20 21:40] ashawley commented on #289
@ljwagerfield See #360 where this was more recently picked up

[2017-12-27 08:23] Ubadub commented on #371
I believe it is, actually

[2018-01-06 09:38] xuwei-k opened #377 "master build broken. unresolved scala-native 0.3.3 plugin"
1. sent sbt 1.0 pull request
1. sent scala-native 0.3.3 pull request
1. merge scala-native pull request 18db1897907a1a7a0d595836f8db8161ff2daba5
1. merge sbt 1.0 pull request **without `git rebase`** https://github.com/rickynils/scalacheck/commit/d6c8599a72a27955ed77ff3634251ab098c30fb3

[2018-01-06 09:39] xuwei-k commented on #377
https://github.com/rickynils/scalacheck/pull/376

[2018-01-07 08:47] #377 closed

[2018-01-13 23:24] steinybot opened #379 "Choose Double with Infinite min and max is always 0.0"
The following generator will always choose `0.0`.
[code]

I expected it to behave the same as `choose(Double.MinValue, Double.MaxValue)` but also include `Double.NegativeInfinity` and `Double.PositiveInfinity`.

[2018-01-14 19:45] ashawley commented on #379
Fixing this could be just replacing `Double.NegativeInfinity` with `Double.MinValue` and `Double.PositiveInfinity` for `Double.MaxValue` in the underlying generator.  Is that the equivalent semantics you're looking for?

[2018-01-23 13:14] mdimjasevic commented on #314
Hi everyone!

I would also kindly ask you for a release that includes #263. This is a showstopper for test reproducibility via ScalaCheck. Furthermore, I'm working on adding support for ScalaCheck's `useSeed` in Specs2, but until ScalaCheck with this feature is released, I can't make progress there.

[2018-01-23 13:32] ashawley commented on #314
This ticket was superseded by #374 which had a similar request.

[2018-01-23 13:36] #314 closed

[2018-01-23 13:52] mdimjasevic commented on #374
As a reminder, this was discussed and then merged with a pull request #263. @rickynils, can you please make a release including this?

[2018-01-25 09:45] mdimjasevic commented on #374
Pretty please? @rickynils?

[2018-02-01 03:05] SethTisue opened #382 "publish for Scala 2.13.0-M3, please?"
ScalaCheck's in the hot seat, as usual!

![image1](https://user-images.githubusercontent.com/161079/35659166-aaabf1a4-06b9-11e8-88b4-63e5fc3d044c.jpeg)

2.13.0-M3 release notes: https://github.com/scala/scala/releases/tag/v2.13.0-M3

[2018-02-01 08:38] rickynils commented on #382
@SethTisue I've published Scala 2.13.0-M3 builds of ScalaCheck 1.12.6 and 1.13.5 now. Only JVM builds for now, as ScalaJS doesn't seem to have M3 builds.

[2018-02-01 08:38] #382 closed

[2018-02-01 12:42] gourlaysama commented on #382
@rickynils you need to update ScalaJS to 0.6.22 to get the 2.13.0-M3 support, the previous versions will not have builds for M3.

[2018-02-01 13:09] ashawley commented on #382
Maybe merge #38 and then take the opportunity to cut a new release, 1.14.0?  This will give a 2.13.0-M3 build for scalajs.

[2018-02-01 20:21] SethTisue commented on #382
@rickynils thanks for the publish... it seems to be working in the projects I've tried it in. Scala.js support is pretty important though — Scala.js is practically ubiquitous now in the library ecosystem

[2018-02-05 09:41] rickynils commented on #382
I'll see if bumping ScalaJS to 0.6.22 works now. It didn't work first time I tried, because there were no M3 build available.

[2018-02-05 10:39] rickynils commented on #382
@SethTisue Scala 2.13.0-M3 builds of ScalaCheck 1.12.6 and 1.13.5 for ScalaJS have been published now.

[2018-02-05 15:39] SethTisue commented on #382
wonderful, thank you!

[2018-02-06 09:34] mdimjasevic commented on #374
Just pinging to bring this up again. This would be a really useful feature to have.

[2018-02-13 18:03] nrinaudo commented on #351
Not sure this is the right place to suggest this, but could one of these utility libraries you speak of be laws for `Cogen`, etc... to allow downstream libraries to more easily validate their implementstions?

An example is the enumeratum-scalacheck module that was published recently that basically copy / pasted tests defined here.

[2018-03-04 06:55] kantlove commented on #374
Agree with @mdimjasevic this is a super useful feature to have, @rickynils please release the latest master.

[2018-03-13 00:47] retronym commented on #185
We ran into this in the Scala build as well and I disabled forking. Turns out that took us out of the frying pan and into the [fire](https://github.com/scala/scala/pull/6300#issuecomment-372495182), as we now get the wrong version of scala-library on the Scalacheck classpath.

So its time to fix this bug :)

When forking tests, the SBT process setup up a server that listens on a stream for events

[2018-03-20 14:16] spockoyno commented on #371
Likely to be Intellij issue.

[2018-03-20 14:16] #371 closed

[2018-03-20 17:48] idreeskhan commented on #374
Is there any update on this? @rickynils

[2018-03-23 17:47] morgen-peschke opened #389 "Need a way to combine independent generators"
The usual way to compose generators is with `flatMap` and `map`, which covers most use cases, unless you're using something like `Gen.listOfN` to produce a series data.

Assuming a generator for tags:
[code]

Or the equivalent:
[code]

Generating a list using `Gen.listOf(tagGen)` tends to produce a high number of cases where all of the tag names are the same. As I understand it, this is because `G

[2018-03-23 18:53] ashawley commented on #389
I'm afraid you may be misunderstanding the semantics of generators.   You're confusion is probably caused by a defect in the underlying `Gen.pick` method of Scalacheck, see #333.  The fix isn't released, yet, though.  The `Gen.identifier` and `Gen.alphaStr` generators are implemented with`Gen.choose` and that in turn uses `Gen.pick`.  That could explain the duplication and the poor distribution of

[2018-03-23 19:03] morgen-peschke commented on #389
That's possible, however the other noticeable place I've seen this behavior is with `Gen.uuid`, which uses `Gen.choose[Long]`. I've traced that one back and it doesn't _look_ like it's using `Gen.pick`, though I could be wrong about that one.

I'll see if I can bang together a simplified test case for this over the weekend.

[2018-03-23 20:55] ashawley commented on #389
That is true that `Gen.choose` doesn't use `Gen.pick`, so it wouldn't suffer from the defect I mentioned earlier in this case.   I was mistaken.

It would be interesting to know if there was a distribution problem with of `Gen.uuid` or better `Gen.choose[Long]`.  You should try to distill your issue in a test, for example:

[code]

Would produce:

    13% (0,a) (1,b)
    8% (1,b) (1,a)
    8% (0,b

[2018-03-25 20:34] morgen-peschke commented on #389
Sort of good news: I was unable to reproduce the issue, so `Gen.uuid` is likely fine.

If I see it again I'll try and pull out a minimal example and reopen, but for now I'm going to close.

[2018-03-25 20:34] #389 closed

[2018-04-02 16:30] ashawley commented on #379
I wouldn't expect `Gen.choose` to ever supply `NaN`, but I added just such a check (since there wasn't one) in a new commit to #380.

[2018-04-02 21:24] ashawley commented on #379
Ok that's a fair point on the missing infinite values.  I've added another commit that will generate infinite values about 10% of the time.

[2018-04-03 19:30] BennyHill commented on #351
@rickynils  I hope this suggestion does not pre-empt the way forward, but do you think it might be worth setting up the aforementioned GH organization, lest it is misappropriated?

[2018-04-06 20:11] morgen-peschke commented on #352
I've found this sort of thing useful in the past, and have opened #394 with a potential implementation.

[2018-04-17 18:17] morgen-peschke commented on #352
@ashawley - that's definitely an important point.

I think the main point of this feature request isn't to try to guarantee a particular size (though a best effort there is always appreciated), as much as it is to have some way of customizing what "distinct" means for a particular data set.

[2018-04-19 11:15] etorreborre commented on #374
@rickynils could you please tell us what you think about this issue? Is there anyone else besides you who can make some progress on this issue and others? (let it be clear that I'm not blaming you at all for not having open-source time!). We are currently discussing the possibility of forking ScalaCheck to support this functionality and make it accessible from specs2 but I think this should only b

[2018-04-19 12:33] SethTisue commented on #374
let's discuss on #351

[2018-04-19 12:44] SethTisue commented on #351
this has come up again at #374. @etorreborre asked me for my take there, I guess as a representative of the Scala team at Lightbend?

for our own needs in the scala/scala repo, we can re-in-source, or fork, or whatever.

but for the community and ecosystem, there is also some renewed urgency now that Scala 2.13.0-M4, -M5, and -RC1 are all looming in the coming weeks and months.

making a scalachec

[2018-04-20 17:59] #185 closed

[2018-04-20 18:26] rickynils commented on #344
This issue got stuck since we had to back-port stuff from master to the 1.13.x branch in order to maintain binary compatibility. I'm going to release the current master as 1.14.0 (#374), and close this issue. I hope people are fine with using 1.14.0 instead of 1.13.6.

[2018-04-20 18:29] rickynils commented on #374
@etorreborre I'm sorry for neglecting this request for so long. I'm going to try to release 1.14.0 as soon as possible. I'm basically just going to take the current master as it looks now, and release it. Are you fine with that, or is there anything else you think we should squeeze in?

[2018-04-20 18:49] rickynils commented on #351
As you've all noticed, I have more or less gone offline for the last year. This is a temporary situation, and I very much like to keep ScalaCheck evolving. I do, however, wish for ScalaCheck to be less attached to me and more able to stand on its own (which is what this issue is about).

My immediate plan is to release the current master branch as 1.14.0 (#374), and to release any Scala milestone

[2018-04-20 21:08] mdimjasevic commented on #374
It'd be great if you made a release with whatever is on the master branch. I've been waiting for the ability to set an initial seed, which is on the master branch.

If you could give an estimate on when the release is going to happen, that would be great; otherwise I'll continue with making a release based on an identical copy of ScalaCheck.

[2018-04-20 22:16] etorreborre commented on #374
@rickynils that would be wonderful thanks @rickynils :-)

[2018-04-21 10:49] rickynils commented on #369
Fixed

[2018-04-21 10:49] #369 closed

[2018-04-21 10:58] rickynils commented on #351
@Duhemm @sjrd @SethTisue @Philippus Do you think moving out the JS and Native versions of ScalaCheck to separate repositories (also hosted under the scalacheck org) is possible and desirable? In any case, I think we must find specific maintainers that are willing to keep those versions up to date with their runtimes.

[2018-04-21 11:05] rickynils commented on #351
@nrinaudo Having various "laws" repositories with property definitions sounds like a good idea. If they are somewhat generic and/or widely used it would make sense to have such repos maintained by the scalacheck org. And I don't see a problem if there are current properties in the ScalaCheck "core" that could be moved to separate repositories, since they would just be test dependencies.

[2018-04-21 11:10] rickynils commented on #374
@mdimjasevic I will try to get it out this weekend. The main issue is to somehow summarize the changelog since 1.13.5.

[2018-04-21 13:48] cquiroz commented on #344
Thanks, would you include scala.js-1.0 in the release? I guess we should update it to the latest M3 release

[2018-04-21 14:01] cquiroz commented on #344
Nevermind. I see scalajs-1.0.0M3 is already in the list

[2018-04-21 20:48] rickynils commented on #379
Fixed in #380

[2018-04-21 20:48] #379 closed

[2018-04-21 20:50] #344 closed

[2018-04-21 21:11] mdimjasevic commented on #374
@rickynils , I'm looking forward to the release!

[2018-04-22 22:03] rickynils commented on #374
ScalaCheck 1.14.0 has been released, with builds for Scala 2.10, 2.11, 2.12 and 2.13-M3. There are also builds for ScalaJS 0.6.22 and 1.0.0-M3 available.

[2018-04-22 22:03] #374 closed

[2018-04-22 22:04] rickynils commented on #362
ScalaCheck 1.14.0 has been released with builds available for ScalaJS 1.0.0-M3 (see #374)

[2018-04-22 22:04] #362 closed

[2018-04-23 05:32] mdimjasevic commented on #374
@rickynils thank you a lot for the release!

[2018-04-23 13:53] sjrd commented on #351
Possible? Yes. Desirable? It depends.

Separating the JS and Native variants in other repositories will definitely *increase* the *sum total* of effort required to maintain all the targets. It would probably reduce the effort to maintain the JVM target on its own, while creating some more effort in the separate repositories.

This means that if the *same* people are in charge of all those reposito

[2018-04-23 14:18] xuwei-k opened #396 "publish artifacts for scala-native"

[2018-04-23 14:31] xuwei-k opened #397 "compile error in build.sbt"
since https://github.com/rickynils/scalacheck/commit/2cdfc5512a48672c6c1439f1aca4271f8c05353e

https://github.com/rickynils/scalacheck/blob/2cdfc5512a48672c6c1439f1aca4271f8c05353e/build.sbt#L81-L84

[code]

[2018-04-23 15:58] eed3si9n commented on #351
Adding more maintainers and giving them Sonatype OSS publishing rights sounds like a good start.

Not sure if they are aspiring, but off the top of my head, I nominate @xuwei-k (Kenji Yoshida, Scalaz maintainer) and @SethTisue (Lightbend Scala team). Both have vested interest in the upkeep of ScalaCheck, and are both responsible individuals.

As a stretch goal, implementing automated release via T

[2018-04-23 19:52] Philippus commented on #351
I'm willing to help out where I can.

[2018-04-24 07:39] SethTisue opened #400 "ScalaCheck should be printing failing seeds by default"
issue title is a quote from https://gist.github.com/non/aeef5824b3f681b9cfc141437b16b014 . (I thought there should be a ticket of record on this.)

background and discussion on https://github.com/rickynils/scalacheck/pull/263

[2018-04-25 02:13] ceedubs opened #401 "Discrepancy between Gen and Arbitrary for Option"
The `Gen` [instance](https://github.com/rickynils/scalacheck/blob/2cdfc5512a48672c6c1439f1aca4271f8c05353e/src/main/scala/org/scalacheck/Gen.scala#L541-L543) for `Option` generates a `Some` 90% of the time (see #286).

The `Arbitrary` [instance](https://github.com/rickynils/scalacheck/blob/2cdfc5512a48672c6c1439f1aca4271f8c05353e/src/main/scala/org/scalacheck/Arbitrary.scala#L337-L345) for `Option

[2018-04-25 02:13] ceedubs commented on #401
cc @non

[2018-04-25 03:41] ashawley commented on #401
I vote for 90% of the time`Some`, 10% `None`.

Really, the `Arbitrary` instance should resuse the `Gen` instance: `Arbitrary(Gen.option(arbitrary[T]))` as you suggested.  No point repeating it.

[2018-04-25 04:02] ashawley commented on #401
Looking at the git history, it seems the current implementation for `Arbitrary` uses halving simply because it was modifying the previous version that also used `sized` and `resize`, but was doing arithmetic subtraction.  The old method was defective at producing `None` enough.  Introducing the `frequency` turned out to be the fix, but it looks like maybe the halving was added for good measure.

[2018-04-26 20:52] rickynils commented on #397
Fixed in #399

[2018-04-26 20:52] #397 closed

[2018-05-03 14:32] ashawley opened #406 "Compiling on Java 9 fails"
Just noticed that compiling with Java 9 gives a deprecation error:

[code]

Presumably, this is because both `-deprecation` and `-Xfatal-warnings`  is enabled for the compiler.

[2018-05-03 14:38] ashawley commented on #406
Apparently, the method is marked as deprecated in Java 9:

https://docs.oracle.com/javase/10/docs/api/java/lang/Class.html#newInstance()

According to Javadoc,

[code]

[code]

[2018-05-05 10:15] martijnhoekstra commented on #401
@ceedubs I see that #397 is now closed

[2018-05-05 20:57] tfinneid commented on #360
Hi, I am experiencing the same issue as @ssanj and would be very glad if this issues could be resolved somehow. Is the suggested PR in #365 an acceptable and working solution (disregarding, for the moment, the current merge conflict)? Is there something I could do to help?

[2018-05-11 09:40] olafurpg commented on #396
Is there a way I can help here? This is one of the last blocking issues for native scalafmt (https://github.com/scalameta/scalafmt/issues/1172).

[2018-05-12 07:36] #406 closed

[2018-05-12 07:58] rickynils commented on #396
@olafurpg I get the following errors when trying to build for scala native:

[code]

My clang version:

[code]

[2018-05-12 08:14] olafurpg commented on #396
Thanks for trying @rickynils

Have you followed the installation instructions for Nix at the bottom of this page here http://www.scala-native.org/en/latest/user/setup.html#installing-clang-and-runtime-dependencies ?

[code]

[2018-05-12 17:44] densh commented on #396
@rickynils You need to install a few packages that are necessary to build code with Scala Native, detailed instructions per OS are available here: http://www.scala-native.org/en/latest/user/setup.html

[2018-05-15 10:53] SethTisue opened #410 "publish for Scala 2.13.0-M4?"
M4 JARs are on Maven Central now

in the 2.13 community build we are using https://github.com/SethTisue/scalacheck/tree/newCollections (forked from @lrytz who did most of the work)

[2018-05-17 10:45] SethTisue commented on #351
I’m happy to help with build and publish type stuff. (I’d likely be silent on anything more in the area of API design and so on.)

[2018-05-17 10:46] SethTisue commented on #351
I think it’s fine to keep Scala.js and Scala Native in the same repo. Generally once the build stuff is set up it just works, and if we hit any trouble we JVM-centric folks don’t grasp there will be no shortage of eager volunteer help.

[2018-05-18 12:33] rickynils commented on #410
#411 changes the API, due to the type changes (`Stream -> LazyList`, `Traversable -> Iterable`). I'm not sure how we should handle the releases and versioning from here on. It feels wrong to just release #411 as another `1.14.0` build. @SethTisue @lrytz Any thoughts on that?

[2018-05-18 13:35] lrytz commented on #410
I think the we should probably revert the `Stream -> LazyList` change, but instaed add built-in generators for `LazyList` in the 2.13 version.

For the `Traversable -> Iterable` change, we can basically introduce a new type alias which, in 2.10/2.11/2.12 would be `Traversable`, and 2.13 would be `Iterable`.

Both of the above can be done with version-dependent source directories. This is a bit ann

[2018-05-18 14:35] rickynils commented on #351
From the comments above, I think we can decide on keeping JS and Native within the core repo.

[2018-05-18 19:22] lrytz opened #412 "CI failing (scala-native)"
https://travis-ci.org/rickynils/scalacheck/builds

[code]

[2018-05-18 21:05] densh commented on #412
It seems that tavis recently changed how things are installed in sudo environments. Please add:
[code]
To your `.travis.yml`. As discovered by @olafurpg.

[2018-05-18 21:08] densh commented on #412
*UPDATE:* make sure you have `sudo: required` in there as well.

[2018-05-19 05:22] #412 closed, assigned to nobody

[2018-05-22 19:39] BennyHill commented on #351
Also willing to help out on the cross building side of things.

just fyi, I did the first cut of the scala.js implementation so have some idea of the internals - see https://github.com/rickynils/scalacheck/commit/30e9cf2fad568756df4179029499625b7f39d9a9 and https://github.com/rickynils/scalacheck/commit/6e369b885f3c4c81372c9a230155744a8afba95f

[2018-05-25 07:50] lrytz commented on #410
Once released, re-enable MiMa for 2.13.0-M4 in build.sbt (mimaPreviousArtifacts).

[2018-05-30 17:00] ashawley commented on #410
Changing those as described would would be necessary to publish 1.14.0 for 2.13.0-M4.  Otherwise,  it doesn't seem like the 1.14.0 release would be source compatible.

[2018-05-30 19:48] lrytz commented on #410
That was done in the PR (https://github.com/rickynils/scalacheck/pull/411) (which is still ready for review :relaxed:).

[2018-05-30 22:34] ashawley commented on #410
Ah, ok. Sorry, it wasn't last I checked. I'll look again.

[2018-06-05 05:01] nigredo-tori opened #413 "retryUntil fails to produce anything when used to check list size inside a Prop"
I'm not sure what to make of it:
[code]
From reading the scaladoc, it seems that `.retryUntil` should basically be the same as `.suchThat` for the purpose of using it in a `Prop`, except that it uses some internal filtering to circumvent the `maxDiscardRatio`. Am I wrong in thinking that?

[2018-06-05 05:12] nigredo-tori commented on #413
The problem seems to arise because of the shrinking. When the maximum size is set to zero, this generator won't be able to output anything, and will eventually reach its threshold. If we limit the minimum size, the check passes:
[code]
So this can be explained and circumvented. But isn't there a way to make generators like this one work with shrinking?